<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
            <div>
                <section class="wrapper createGroup">
                    <div class="contentBody">
                        <div class="head">
                            <div class="wrap">
                                <div class="headerBar" data-ng-bind="::pullInterNationalization('manageAccountContent.requestMembers')" data-ng-if="requestType === 'members'"></div>
                                <div class="headerBar" data-ng-bind="::pullInterNationalization('manageAccountContent.requestCandidates')" data-ng-if="requestType === 'candidates'"></div>
                                <div class="headerBar" data-ng-bind="::pullInterNationalization('manageAccountContent.requestAdmins')" data-ng-if="requestType === 'admins'"></div>
                                <div class="headerBar" data-ng-bind="::pullInterNationalization('manageAccountContent.requestHiringAdmins')" data-ng-if="requestType === 'hiring'"></div>
                                <div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color"></div>
                            </div>
                        </div>
                        <div class="contentArea">
                            <div class="add-accounts-modal member-accs">
                            
                                <h2 data-ng-bind="::pullInterNationalization('manageAccountContent.selectMembers')" data-ng-if="requestType === 'members'"></h2>
                                <h2 data-ng-bind="::pullInterNationalization('manageAccountContent.selectCandidates')" data-ng-if="requestType === 'candidates'"></h2>
                                <h2 data-ng-bind="::pullInterNationalization('manageAccountContent.selectAdmins')" data-ng-if="requestType === 'admins'"></h2>
                                <h2 data-ng-bind="::pullInterNationalization('manageAccountContent.selectHiring')" data-ng-if="requestType === 'hiring'"></h2>
                                
                                <p data-ng-bind="::pullInterNationalization('admin.account.business.members.desc1')" class="acc-desc"></p>
                                
                                <form id="addAccountsFormModal" name="addAccountsForm" novalidate autocomplete="off" method="POST" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" data-ng-submit="processAccountRequest($event, requestAccounts)">
                                    <input type="hidden" name="orgid" value="00Dj0000001oNf3" />
                                    <input type="hidden" id="retURL" name="retURL" value="{{currentPageUrl}}" />
                                    <input type="hidden" id="name" maxlength="80" name="name" size="20" type="text" value="{{userInfo.company.name}}" />
                                    <input type="hidden"  name="00N0a00000BZppH" value="{{userInfo.company.name}}" />
                                    <input type="hidden" id="email" maxlength="80" name="email" size="20" type="text" value="{{userInfo.member.email}}" />
                                    
                                    <input type="hidden" id="subject" name="subject" value="{{pullInterNationalization('manageAccountContent.requestMembers')}}" data-ng-if="requestType === 'members'">
                                    <input type="hidden" id="subject" name="subject" value="{{pullInterNationalization('manageAccountContent.requestCandidates')}}" data-ng-if="requestType === 'candidates'">
                                    <input type="hidden" id="subject" name="subject" value="{{pullInterNationalization('manageAccountContent.requestAdmins')}}" data-ng-if="requestType === 'admins'">
                                    <input type="hidden" id="subject" name="subject" value="{{pullInterNationalization('manageAccountContent.requestHiringAdmins')}}" data-ng-if="requestType === 'hiring'">
                                    
                                    <input type="hidden" id="description" name="description" value="Member Account(s): {{requestAccounts}};" data-ng-if="requestType === 'members'">
                                    <input type="hidden" id="description" name="description" value="Candidate Account(s): {{requestAccounts}};" data-ng-if="requestType === 'candidates'">
                                    <input type="hidden" id="description" name="description" value="Administrator License(s): {{requestAccounts}};" data-ng-if="requestType === 'admins'">
                                    <input type="hidden" id="description" name="description" value="Hiring Administrator License(s): {{requestAccounts}};" data-ng-if="requestType === 'hiring'">
                                    
                                    <input type="hidden" id="00N0a00000BZppb" name="00N0a00000BZppb" title="Request Accounts" value="{{requestAccounts}}" class="hide-this">
                                    <ol class="form-list-c">
                                        <li class="input-fl">
                                            <label data-ng-bind="::pullInterNationalization('manageAccountContent.numOfMem')" class="acc-desc" data-ng-if="requestType === 'members'"></label>
                                            <label data-ng-bind="::pullInterNationalization('manageAccountContent.numOfCand')" class="acc-desc" data-ng-if="requestType === 'candidates'"></label>
                                            <label data-ng-bind="::pullInterNationalization('manageAccountContent.numOfAdmins')" class="acc-desc" data-ng-if="requestType === 'admins' || requestType === 'hiring'"></label>
                                            <input class="serialize-ignore" type="number" min="0" step="1" autocomplete="off" data-ng-model="requestAccounts" name="requestAccounts" data-ng-pattern="/^[0-9][0-9]*$/" data-ng-required="!addAccounts.memberAdminAccounts" />
                                            <span class="validate-error" data-ng-if="salesForceForm" data-ng-bind="pullInterNationalization('signup.required.error')"></span>
                                        </li>
                                        <li class="submit-cancel-btns">
                                            <ul class="submit-cancel-list">
                                                <li class="submit-charge">
                                                    <input type="submit" value="{{pullInterNationalization('dashboard.sendRequest')}}" class="subscribeBtn btn-block btn-15px sp-btn-color" />
                                                </li>
                                                <li class="cancel-charge">
                                                    <input type="button" value="{{pullInterNationalization('manageAccountContent.cancel')}}" data-ng-click="closeThisDialog()" class="cancelBtn btn-block btn-15px btn-grey-dark" />
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>