<div class="container new-modals">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <div class="modal-bg-wrap">
                <div class="model-heading sp-panel-accent">
                    <div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color"></div>
                    <h2 data-ng-bind="::pullInterNationalization('manageHiringContent.hirec')"></h2>
                </div>
                <div class="selected-user-obj">
                    <div class="m-pic">
                        <img data-ng-src="{{deleteMemberInfo.smallProfileImage}}" alt="{{deleteMemberInfo.userInitials}}" data-ng-if="deleteMemberInfo.smallProfileImage">
                        <div class="imgReplacement" data-ng-if="!deleteMemberInfo.smallProfileImage" data-ng-bind="deleteMemberInfo.userInitials"></div>
                    </div>
                    <div class="m-info1">
                        <p class="f500" data-ng-bind="deleteMemberInfo.name"></p>
                        <p class="nm" data-ng-bind="deleteMemberInfo.title"></p>
                    </div>
                    <div class="m-info2">
                        <p data-ng-bind="deleteMemberInfo.email"></p>
                        <p data-ng-bind="deleteMemberInfo.phoneNumber"></p>
                    </div>
                </div>
                <div class="new-modals-wrapper">
                    <p class="hire-desc-msg mt30" data-ng-bind-html="::pullInterNationalization('manageHiringContent.noMem')"></p>
                    <!-- Buttons Starts -->
                    <div class="dialog-btns-wrapper">
                        <input type="button" value="{{::pullInterNationalization('manageAccountContent.done')}}" class="btn-block btn-14px sp-btn-color" data-ng-click="closeThisDialog();">
                    </div>
                    <!-- Buttons Ends -->                    
                </div>
            </div>
        </div>
    </div>
</div>