<div class="container new-modals">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
            <div class="modal-bg-wrap">
                <div class="model-heading sp-panel-accent">
                    <div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color"></div>
                    <h2 data-ng-bind="::pullInterNationalization('peopleAnalytics.addmemberRole')"></h2>
                </div>
                <div class="new-modals-wrapper">
                	<!-- Selection -->
                	<div class="form-elements">
                		<div class="tick-selection display-inline-block margin-right-inline">
							<input type="checkbox" class="filterCheckBox groupCheckBox" id="Member" data-ng-click="includeCheck('Member',pageSetting.modeSelected)">
			                <label for="Member" class="filterCheckBox-label">
			          			<span class="checkedTick bpPopFix pull-left icon-icon_dev_strategy_check sp-icon-color membersFiltersChecks"></span>
			                	<span class="font_14_300 pull-left sp-spectrum-color" data-ng-bind="::pullInterNationalization('navigation.pa.employee')"></span>
			                </label>
		                </div>
		                <div class="tick-selection display-inline-block">
							<input type="checkbox" class="filterCheckBox groupCheckBox" id="HiringCandidate" data-ng-click="includeCheck('HiringCandidate',pageSetting.modeSelected)">
			                <label for="HiringCandidate" class="filterCheckBox-label">
			          			<span class="checkedTick bpPopFix pull-left icon-icon_dev_strategy_check sp-icon-color membersFiltersChecks"></span>
			                	<span class="font_14_300 pull-left sp-spectrum-color" data-ng-bind="::pullInterNationalization('navigation.pa.candidates')"></span>
			                </label>
		                </div>
                	</div>
                		
                	<!-- Selection -->
                    <!-- Form Elements -->
                    <div class="form-elements" style="margin-top: 15px;">
                        <div class="angucomplete-wrapper">
                            <p class="custom-search-wrapper">
                                <input type="text" data-ng-model="pageSetting.roleListSearch" data-ng-change="searchListFn()" class="custom-search" placeholder="{{::pullInterNationalization('manageAccountContent.searchGroupHead')}}" data-ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"/>
                                <button data-ng-class="{'icon-icon_remove':pageSetting.roleListSearch.length, 'icon-icon_search': !pageSetting.roleListSearch.length}" class="sp-icon-color noLabel" data-ng-click="searchListFn(true)"></button>
                            </p>
					      	<div class="totalRecord">
						      	<span data-ng-if="addedList.length">
						      		<span class="number" data-ng-bind="addedList.length"></span><span class="text" data-ng-bind="::pullInterNationalization('manageAccountContent.recordMembers')"></span> <span class="text" data-ng-bind="::pullInterNationalization('manageAccountContent.recordSelected')"></span>
						      	</span>
						   </div>                            
                        </div>
                    </div>
                    <!-- Form Elements Ends -->
                    <!-- Selected Items List Start -->
                    <div class="selected-group-List-wrapper moreH">
                        <div class="group-row" data-ng-repeat="member in record = searchList">
                            <div class="group-col w80">
                                <div class="member-details-pic-wrapper">
                                    <div class="mem-pic-thumb regPic lh42">
                                   		  <img data-ng-src="{{employeeImage}}" alt={{memberList.email}} data-ng-if="!member.userInitials && member.type!=='HiringCandidate'">
                          		          <div class="imgReplacement icon-candidates bg-small" data-ng-if="member.type==='HiringCandidate'"></div>
                                		  <div class="imgReplacement" data-ng-if="member.userInitials && member.type!=='HiringCandidate'" data-ng-bind="member.userInitials"></div>
                                    </div>
                                    <div class="mem-details-info ml">
                                        <p class="memNameOne" data-ng-if="member.name">
                                            <span class="sp-link-color" data-ng-bind="member.firstName+' '+member.lastName+', '"></span>
                                            <span data-ng-bind="member.title"></span>
                                        </p>
                                        <p class="memEmail lh16" data-ng-bind="member.email"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="group-col-custom">
                                <p data-ng-if="addedList.indexOf(member.id) === -1">
                                    <a href="javascript:void(0)" class="btn-square-12px sp-background-color" data-ng-click="makeMemberList(member.id)" data-ng-bind="::pullInterNationalization('manageAccountContent.select')"></a>
                                </p>
                                <p class="added-msg" data-ng-if="addedList.indexOf(member.id) !== -1">
                                	<a href="javascript:void(0)" class="border-link font-10 mock-black reset">
                                    	<span class="icon-icon_dev_strategy_check"></span>
                                    	<span class="mock-link" data-ng-bind="::pullInterNationalization('manageAccountContent.selected')"></span>
                                    </a>
                                    <a href="javascript:void(0)" class="border-link reset font-10 display-block" data-ng-click="makeMemberList(member.id)">
                                    	<span class="mock-link" data-ng-bind="::pullInterNationalization('practiceArea.remove')"></span>
                                    </a>
                                </p>
                                
                            </div>
                        </div>
                        <div class="custom-row-5 col-container" data-ng-if="!record.length">
			                   <div class="custom-new-cols s100">
			                      <p class="no-data-msgs" data-ng-bind="::pullInterNationalization('manageAccountContent.noGroupAvailable')"></p>
			                  </div>
			           </div>
                    </div>
                    <!-- Selected Items List End -->
                    <!-- Buttons Starts -->
                    <div class="dialog-btns-wrapper">
                        <input type="button" value="{{::pullInterNationalization('manageAccountContent.submit')}}" class="btn-block btn-14px sp-btn-color" data-ng-class="{'submit-btn-disabled':!searchList.length}" data-ng-click="searchList.length && addUserToRole()">
                        <input type="button" value="{{::pullInterNationalization('manageAccountContent.cancel')}}" class="btn-block btn-14px btn-grey-dark" data-ng-click="closeThisDialog();">
                    </div>
                    <!-- Buttons Ends -->
                </div>
            </div>
        </div>
    </div>
</div>
