<div class="x-container create-pulse" ng-controller="createPulseController" ng-if="inviteReady">
    <div class="container" >
        <div class="bg-wrapper">
            <div class="space-box">
                <p class="return-link">
                    <a href="/sp/sysAdmin/pulse/pulseListings" class="border-link">
                        <span class="mock-link">Return to Pulse List</span>
                    </a>
                </p>
                <h2>Create New Pulse</h2>
            </div>
            <form name="createNewPulse" novalidate>
                <ol class="form-list-c">
                    <li class="type-and-number f-left space-box">
                        <label class="label" for="name">Pulse Name</label>
                        <input autoFocus type="text" name="name" ng-pattern="/^[a-zA-Z0-9-,' ]+$/" ng-model="newPulse.name" required />
                        <span class="validate-error" ng-show="createNewPulse.validationErrors && createNewPulse.name.$error.required" data-ng-bind="pullInterNationalization('signup.required.error')"></span>
                        <span class="err-msg validate-error" ng-show="createNewPulse.validationErrors && createNewPulse.name.$error.pattern" data-ng-bind="pullInterNationalization('signup.emperr')"></span>
                    </li>
                    <li class="type-and-number f-left pulse-type-wrapper space-box">
                        <label class="label">Pulse Type</label>
                        <ul class="radio-group-list">
                            <li class="radio-btn">
                                <input id="CompanyPulse" type="radio" name="questionSetType" ng-model="newPulse.questionSetType" value="Company" required />
                                <label for="CompanyPulse">Company Pulse</label>
                            </li>
                            <li class="radio-btn">
                                <input id="GroupPulse" type="radio" name="questionSetType" ng-model="newPulse.questionSetType" value="Group" required />
                                <label for="GroupPulse">Group Pulse</label>
                            </li>
                        </ul>
                        <span class="validate-error" ng-show="createNewPulse.validationErrors && createNewPulse.questionSetType.$error.required" data-ng-bind="pullInterNationalization('signup.required.error')"></span>
                    </li>
                    <li class="type-and-number clear-this space-box-border">
                        <label class="label" for="name">Upload Question Set</label>
                        <p class="fake-input-wrapper">
                            <span class="posRelative"><span class="fake-input f-left"><span data-ng-bind="pulseFileName" class="trunc"></span></span><span class="removeBtn f-right" ng-click="clearFileStatus()" ng-if="pulseFileUploadStatus===true"></span></span>
                            <a ng-click="triggerOpenFile()" ng-if="pulseFileUploadStatus!==true" href="#" class="select-btn btn-square-12px sp-background-color" ng-click="$event.preventDefault();">Select File</a>
                            <a ng-if="pulseFileUploadStatus===true" href="#" class="select-btn btn-square-12px sp-background-color" ng-click="pulsePreview();$event.preventDefault();">PREVIEW</a>
                        </p>
                        <input id="selectFile" type="file" nv-file-select uploader="uploader" required multiple/>
                        <span class="validate-error" ng-show="fileUploadException" data-ng-bind="fileUploadExceptionMessage"></span>
                        <span class="validate-error" ng-show="createNewPulse.validationErrors && pulseFileUploadStatus===false" data-ng-bind="pullInterNationalization('signup.required.error')"></span>
                    </li>
                    <li class="type-and-number space-box-border">
                        <label class="label">Assign to accounts</label>
                        <ul class="radio-group-list">
                            <li class="radio-btn">
                                <input id="allAcc" type="radio" name="assignAccounts" ng-model="newPulse.assignAccounts" value="All" required />
                                <label for="allAcc">All Accounts</label>
                            </li>
                            <li class="radio-btn">
                                <input id="selectedAcc" type="radio" name="assignAccounts" ng-model="newPulse.assignAccounts" value="Selected" required />
                                <label for="selectedAcc">Selected Accounts</label>
                            </li>
                        </ul>
                        <span class="validate-error" ng-show="createNewPulse.validationErrors && createNewPulse.assignAccounts.$error.required" data-ng-bind="pullInterNationalization('signup.required.error')"></span>
                    </li>
                    <li class="space-box" ng-if="newPulse.assignAccounts=='Selected'">
                        <div class="searchWrapper">
                            <input type="text" class="search-box" name="search" ng-model="accountList.search" placeholder="Search" />
                            <button ng-click="accountList.search=null" ng-class="accountList.search.length>0?'searching':''"></button>
                        </div>
                        <span class="field-instructions">Search by account number/ Name / Industry / city / country</span>
                        <div class="account-list-wrapper">
                            <div class="f-left all-accounts-list">
                                <div class="list-header">
                                    <!--div class="acc-no"><p class="label">A/C#</p></div-->
                                    <div class="acc-name">
                                        <p class="label">Company Name</p>
                                    </div>
                                    <div class="acc-loc">
                                        <p class="label">Location</p>
                                    </div>
                                    <div class="acc-actions"><a ng-if="accountList.search.length > 0 && filteredAccountListing.length > 0" class="border-link" ng-click="addFilteredAccounts()"><span class="mock-link">Select All</span></a></div>
                                </div>
                                <div class="list-details">
                                    <div class="list-row" ng-show="filteredAccountListing.length===0">
                                        <div class="list-msg">
                                            <p class="no-result">No match found.</p>
                                        </div>
                                    </div>
                                    <div class="list-row" ng-repeat="acc in (filteredAccountListing = (updatedAccountListing | filter:accountList.search))" ng-if="acc.accountSelectedStatus === false" ng-class="($index==filteredAccountListing.length-1)?'last-row':''">
                                        <!--div class="acc-no"><p data-ng-bind="acc.id"></p></div-->
                                        <div class="acc-name">
                                            <p data-ng-bind="acc.name"></p>
                                        </div>
                                        <div class="acc-loc">
                                            <p><span data-ng-bind="acc.address.city"></span>, <span class="country" data-ng-bind="acc.address.country"></span></p>
                                        </div>
                                        <div class="acc-actions"><a class="btn-square-12px sp-background-color" ng-click="addtoSelectedAccounts(acc.id)">ADD &#9656;</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="f-right all-accounts-list">
                                <div class="list-header">
                                    <div class="acc-msg" ng-class="selectedAccountsCount===0?'full':''">
                                        <p class="label1">SELECTED ACCOUNTS ({{selectedAccountsCount}})</p>
                                    </div>
                                    <div class="acc-actions1"><a class="border-link" ng-if="selectedAccountsCount > 0" ng-click="removeAllSelectedAccounts()"><span class="mock-link">Remove All</span></a></div>
                                </div>
                                <div class="list-details" ng-if="selectedAccountsCount === 0">
                                    <div class="list-row">
                                        <div class="list-msg" ng-class="(createNewPulse.validationErrors && createNewPulse.assignAccounts.$error.required===false && accList.length === 0)?'err-space':''">
                                            <p ng-show="createNewPulse.validationErrors !== true && selectedAccountsCount === 0">Please select one or more accounts from the left</p>
                                            <span class="validate-error" ng-show="createNewPulse.validationErrors && createNewPulse.assignAccounts.$error.required===false && accList.length === 0">Please select one or more accounts from the left</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-details" ng-if="selectedAccountsCount > 0">
                                    <div class="list-row" ng-repeat="acc in updatedAccountListing | orderBy:'updatedListingIndex':reverse" ng-if="acc.accountSelectedStatus===true">
                                        <!--div class="acc-no"><p data-ng-bind="acc.id"></p></div-->
                                        <div class="acc-name">
                                            <p data-ng-bind="acc.name"></p>
                                        </div>
                                        <div class="acc-loc">
                                            <p><span data-ng-bind="acc.address.city"></span>, <span class="country" data-ng-bind="acc.address.country"></span></p>
                                        </div>
                                        <div class="acc-actions">
                                            <a class="removeBtn" ng-click="removeFromSelectedAccounts(acc.id)"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="space-box" ng-show="createNewPulseException">
                    	<span class="validate-error" data-ng-bind="createNewPulseExceptionMsg"></span>
                    </li>
                    <li class="submit-cancel-btns space-box">
                        <ul class="submit-cancel-list">
                            <li class="submit-charge">
                                <input type="submit" value="submit" class="subscribeBtn btn-block btn-15px sp-btn-color" ng-click="generateNewPulse(newPulse)" />
                            </li>
                            <li class="cancel-charge">
                                <input type="button" value="cancel" class="cancelBtn btn-block btn-15px btn-grey-dark" ng-click="cancelRedirect()" />
                            </li>
                        </ul>
                    </li>
                </ol>
            </form>
        </div>
    </div>
</div>