<div class="actions-callout-wrappper notes-module">
    <ul class="action-links notes-links">
          <li>
             <a href="javascript:void(0)" data-ng-click="openNotesPanel('private')">
             <span class="action-text" data-ng-bind="::pullInterNationalization('notes.privateNotes.label')"></span>
            </a>
         </li>
         <li>
            <a href="javascript:void(0)" data-ng-click="openNotesPanel('gd')">
            <span class="action-text" data-ng-bind="::pullInterNationalization('notes.gd.label')"></span>
            </a>
         </li>
         <!-- <li>
            <a href="javascript:void(0)" data-ng-click="openNotesPanel('public')">
            <span class="action-text" data-ng-bind="::pullInterNationalization('notes.pc.label')"></span>
            </a>
        </li> -->
     </ul>
</div>                            