

    <div class="container" id="declineGrowthScreen">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
<div>
    	<section class="wrapper">
	<div class="contentBody feedbackUser">
		<div class="head">
			<div class="wrap">
				<div class="headerBar" data-ng-bind="::pullInterNationalization('blueprint.car')"></div>
				<div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color"></div>
			</div>
		</div>
		<div class="contentArea clearfix">
		<form name="ctrl.cancelApprovalForm" class="sendReminder">
			<div class="messageBlock borderarea">
				<div class="message" style="padding-bottom:10px;font-size:20px;line-height:normal;" data-ng-bind="::pullInterNationalization('blueprint.carhead')"></div>
				<div class="message" style="padding-bottom:10px;" data-ng-bind="::pullInterNationalization('blueprint.carDesc')"></div>
			</div>
			<div class="messageBlock ">
				<div class="textarea" style="padding-bottom:0px;">
					<textarea id="commentBlock" name="comment" data-ng-model="ctrl.cancelApproval.carComment" data-ng-attr-placeholder="{{::pullInterNationalization('blueprint.comment')}}" required></textarea>
					<span class="validate-error" data-ng-if="ctrl.cancelApproval.submitted && ctrl.cancelApprovalForm.comment.$error.required" data-ng-bind="::pullInterNationalization('signup.required.error')"></span>
				</div> 
			</div>
			<div class="sp-btn-wrapper sp-red btn-esmall floatLeft inviteBtn">
				<div class="sp-btn">
					<input type="button" value="{{::pullInterNationalization('admin.member.yes')}}" class="btnStyle1" data-ng-click="ctrl.car(ctrl.cancelApproval.carComment)">
				</div>
			</div>
			<div class="sp-btn-wrapper sp-grey btn-esmall floatLeft">
				<div class="sp-btn">
					<input type="button" value="{{::pullInterNationalization('admin.member.no')}}" class="btnStyle1" data-ng-click="closeThisDialog()">
				</div>
			</div>
			</form>
		 	</div>
	</div>

	</section>
</div></div>
</div></div>

