<div class="lnd-content-dialog full-overlay-mobile">
    <div class="x-container" style="height:{{ctrl.winHeight}}">
        <div class="notes-feedback-overlay">
            <div class="dialog-header-closeBtn">
                <h2 class="dialog-heading" data-ng-bind="::pullInterNationalization('blueprint.car')"></h2>
                <div class="ngdialog-close close-btn-icon icon-icon_remove"></div>
            </div>
        </div>
        <form name="ctrl.cancelApprovalForm" class="sendReminder sideSpacer">
            <div class="message font16px fontW500" data-ng-bind="::pullInterNationalization('blueprint.carhead')"></div>
            <div class="message" data-ng-bind="::pullInterNationalization('blueprint.carDesc')"></div>
            <div class="textarea">
                <textarea id="commentBlock" name="comment" data-ng-model="ctrl.cancelApproval.carComment" data-ng-attr-placeholder="{{::pullInterNationalization('blueprint.comment')}}" required></textarea>
                <span class="validate-error" data-ng-if="ctrl.cancelApproval.submitted && ctrl.cancelApprovalForm.comment.$error.required" data-ng-bind="::pullInterNationalization('signup.required.error')"></span>
            </div>
            
            <div class="btns-wrp">
                <input type="button" value="{{::pullInterNationalization('admin.member.yes')}}" class="btn-block btn-14px sp-btn-color" data-ng-click="ctrl.car(ctrl.cancelApproval.carComment)">
                <input type="button" value="{{::pullInterNationalization('admin.member.no')}}" class="btn-block btn-14px btn-grey-dark" ng-click="closeThisDialog()">
            </div>
        </form>
    </div>
</div>