<div class="add-setting">
    <!-- Setting Column-->
    <div class="practice-area-detail organization-area-detail lnd-right-box sp-panel-accent">
        <div class="title-with-icons">
            <h2 class="sp-header-title-color" data-ng-bind="'Tutorial Settings'"></h2>
        </div>
        	<form name="ctrl.actionPlanSetting" class="actionPlanForm clearfix w500">
        	    <ol class="form-list-c form-list-d">
	                <li class="type-and-number planTitle">
	                    <input autoFocus type="text" class="themeName bolder_input" name="actionPlanName" maxlength="200" placeholder="Tutorial Name" data-ng-model="ctrl.actionPlan.name" required/>
	                    <span class="validate-error" data-ng-if="ctrl.submitted && ctrl.actionPlanSetting.actionPlanName.$error.required" data-ng-bind="::pullInterNationalization('signup.required.error')"></span>
	                </li>
	                <li class="type-and-number planTitle_1">
	                    <textarea class="themeName h60" name="actionPlanDescription" data-ng-model="ctrl.actionPlan.description" placeholder="Enter Tutorial Description" required></textarea>
	                    <span class="validate-error" data-ng-if="ctrl.submitted && ctrl.actionPlanSetting.actionPlanDescription.$error.required" data-ng-bind="::pullInterNationalization('signup.required.error')"></span>
	                </li>
	                <li class="crop-it-image">
	                    <div class="img-wrapper-admin">
	                        <img data-ng-src="{{ctrl.actionPlan.imgUrl}}" alt="" data-ng-if="ctrl.actionPlan.imgUrl" class="org-admin-image-preview" />
	                        <div class="admin-section-pic" data-ng-if="!ctrl.actionPlan.imgUrl" data-ng-bind="::pullInterNationalization('sysadmin.organization.uploadImage')"></div>
	                        <span class="upload-icon icon-icon_camera sp-icon-color" data-ng-click="ctrl.selectThumbImage(ctrl.actionPlan,'introImage');"></span>
	                        <span class="upload-icon remove-icon icon-icon_accounts_remove sp-icon-color" data-ng-if="ctrl.actionPlan.imgUrl" data-ng-click="ctrl.actionPlan.imgUrl=''"></span>
	                    </div>
	                </li>
	            </ol>
            </form>
    </div>
</div>
