<link type="text/css" rel="stylesheet" href="/resources/css/css-min/prism-lens.min.css" />
<div class="col-content-wrapper mh700" data-ng-init="ctrl.getFeedbackTeam()">
    <div class="members-content-wrapper">
        <div class="members-header">
            <h2 class="sp-header-title-color" data-ng-bind-html="::pullInterNationalization('manageHiringContent.refText')"></h2>
            <p class="group-add-btn m500" data-ng-if="!ctrl.archivedUser">
                <a href="javascript:void(0)" class="btn-square-12px sp-background-color" data-ng-bind="::pullInterNationalization('candidates.addreferences')" data-ng-click="ctrl.addReferenceForm()"></a>
            </p>
        </div>
    </div>
    <div class="prism-lens-wrapper">
    <p class="f14w300lh18" data-ng-if="!ctrl.feedbackTeamList.length && !ctrl.feedbackDataResponse" data-ng-bind="::pullInterNationalization('manageAccountContent.lensMsgLoading')"></p>
    <p class="f14w300lh18" data-ng-if="!ctrl.feedbackTeamList.length && ctrl.feedbackDataResponse" data-ng-bind-html="::pullInterNationalization('candidate.noReference.available')"></p>
        <section class="features-section" data-ng-repeat="member in ( ctrl.feedbackTeamList | orderBy: ['-userStatus', '-createdOnStr']) track by $index" data-ng-if="ctrl.feedbackTeamList.length && ((archivedUser && member.userStatus === 'VALID') || (!archivedUser))">
            <header class="fs-header-wrap" data-ng-class="{'on':ctrl.featuresSectionSelected === member.id, 'disabled':member.userStatus!=='VALID'}">
                <div class="split-cols-wrapper">
                    <div class="split-col scol1">
                        <div class="member-pic">
                            <img data-ng-src="{{member.smallProfileImage}}" alt="{{member.userInitials}}" data-ng-if="member.smallProfileImage">
                            <div class="imgReplacement" data-ng-if="!member.smallProfileImage" data-ng-bind="member.userInitials"></div>
                        </div>
                        <div class="member-details">
                            <p class="member-name">
                            	<span class="margin-right" data-ng-bind="member.firstName +' '+ member.lastName"></span>
                            	<span data-ng-if="!ctrl.archivedUser" data-ng-click="ctrl.updateRefListDialog(member)" class="icon-hand sp-icon-color icon-icon_accounts_edit"></span>
                            </p>
                            <p class="member-title" data-ng-if="member.referenceType" data-ng-bind="::pullInterNationalization('hiring.reference.'+member.referenceType)"></p>
                            <p class="member-email" data-ng-if="member.email" data-ng-bind="member.email"></p>
                            <p class="member-title" data-ng-if="member.phoneNumber" data-ng-bind="member.phoneNumber"></p>
                            
	                        <div class="status-details-responsive">
		                        <p data-ng-if="member.userStatus==='VALID'">
		                        <span data-ng-bind="::pullInterNationalization('manageAccountContent.completed')"></span>
                            <span class="dbl" data-ng-bind="member.completedOn  | spLocaleDate" data-ng-if="member.completedOn"></span>
                        </p>
                        <div data-ng-if="member.userStatus==='INVITATION_NOT_SENT'">
                       		 <div class="group-add-btn">
                        		<a href="javascript:void(0)" class="btn-square-12px sp-background-color" data-ng-bind="::pullInterNationalization('pa.employee.requestlens')" data-ng-click="ctrl.sendRequest(member.id)"></a>
                        		</div>
                        	<br/><br/>
                            <a href="javascript:void(0)" class="border-link font-14" data-ng-click="ctrl.deleteConfirm(member)" data-ng-if="!ctrl.archivedUser">
                                 <span class="mock-link font-14" data-ng-bind="::pullInterNationalization('manageAccountContent.delete')"></span>
                            </a>
                        </div>
                        <p data-ng-if="member.userStatus!=='VALID'&&member.userStatus!=='INVITATION_NOT_SENT'">
                            <span class="dbl" data-ng-if="member.createdOn" data-ng-bind="pullInterNationalization('prismLens.pending')+(member.createdOn | spLocaleDate)"></span>
                            <span class="dbl" data-ng-if="!member.createdOn" data-ng-bind="::pullInterNationalization('manageAccountContent.pending')"></span>
                            
                            <a href="javascript:void(0)" class="border-link" data-ng-click="ctrl.sendEmailReminders(member)" data-ng-if="!ctrl.archivedUser">
                                <span class="mock-link" data-ng-bind="::pullInterNationalization('manageAccountContent.sendReminder')"></span>
                            </a>
                            <span class="dBlock font-12 color_aaa" data-ng-bind-html="member.lastRemindedOn | spLocaleDate"></span>
                            <br/><br/>
                            <a href="javascript:void(0)" class="border-link font-14" data-ng-click="ctrl.deleteConfirm(member)" data-ng-if="!ctrl.archivedUser">
                                 <span class="mock-link font-14" data-ng-bind="::pullInterNationalization('manageAccountContent.delete')"></span>
                             </a>
                        </p>                       
	                        </div>                            
                        </div>
                    </div>
                    <div class="split-col scol2">
                        <p data-ng-if="member.userStatus==='VALID'">
                            <span data-ng-bind="::pullInterNationalization('manageAccountContent.completed')"></span>
                            <span class="dbl" data-ng-bind="member.completedOn  | spLocaleDate" data-ng-if="member.completedOn"></span>
                        </p>
                        <div data-ng-if="member.userStatus==='INVITATION_NOT_SENT'" class="pull-right">
                        	<div class="group-add-btn" data-ng-if="!ctrl.archivedUser">
                        	<a href="javascript:void(0)" class="btn-square-12px sp-background-color" data-ng-bind="::pullInterNationalization('pa.employee.requestlens')" data-ng-click="ctrl.sendRequest(member.id)"></a>
                        	</div>
                        	<br/><br/>
                            <a href="javascript:void(0)" class="border-link font-14" data-ng-click="ctrl.deleteConfirm(member)" data-ng-if="!ctrl.archivedUser">
                                 <span class="mock-link font-14" data-ng-bind="::pullInterNationalization('manageAccountContent.delete')"></span>
                            </a>
                        </div>
                        <p data-ng-if="member.userStatus!=='VALID'&&member.userStatus!=='INVITATION_NOT_SENT'">
                            <span class="dbl" data-ng-if="member.createdOn" data-ng-bind="pullInterNationalization('prismLens.pending')+' '+(member.createdOn | spLocaleDate)"></span>
                            <span class="dbl" data-ng-if="!member.createdOn" data-ng-bind="::pullInterNationalization('manageAccountContent.pending')"></span>
                            
                            <a href="javascript:void(0)" class="border-link" data-ng-click="ctrl.sendEmailReminders(member)" data-ng-if="!ctrl.archivedUser">
                                <span class="mock-link" data-ng-bind="::pullInterNationalization('manageAccountContent.sendReminder')"></span>
                            </a>
                            <span class="dBlock font-12 color_aaa" data-ng-bind-html="member.lastRemindedOn | spLocaleDate"></span>
                            <br/><br/>
                            <a href="javascript:void(0)" class="border-link font-14" data-ng-click="ctrl.deleteConfirm(member)" data-ng-if="!ctrl.archivedUser">
                                 <span class="mock-link font-14" data-ng-bind="::pullInterNationalization('manageAccountContent.delete')"></span>
                             </a>
                        </p>
                    </div>
                </div>
                <div class="icon-toggle" data-ng-click="member.userStatus==='VALID'?ctrl.toggleView(member):''">
	                <div class="close-it icon-icon_collapse sp-icon-color"></div>
	                <div class="open-it icon-icon_expand sp-icon-color"></div>
                </div>
            </header>
            <div class="fs-content hide" data-ng-class="ctrl.featuresSectionSelected === member.id?'show':'hide'">
                <div class="inviteMemberView feedback-overrides">
                    <div class="contentArea teamView" data-ng-show="ctrl.feedbackEnable">
                        <div class="feedback_Additional_comments">
                            <div class="feedbackCommentSection">
                                <div class="title" data-ng-bind-html="pullInterNationalization('feedback.additional.title')"></div>
                                <div class="description" data-ng-bind-html="ctrl.getInviteMemberDetail.profileStatment"></div>
                            </div>
                            <div class="feedbackCommentSection">
                                <div class="title" data-ng-bind-html="ctrl.getInviteMemberDetail['notablechar.text']"></div>
                                <div class="description" data-ng-bind-html="ctrl.getInviteMemberDetail['notablechar.desc']"></div>
                            </div>
                            <div class="feedbackCommentSection mar40">
                                <div class="title" data-ng-bind-html="ctrl.getInviteMemberDetail['workEnviornment.text']"></div>
                                <div class="description" data-ng-bind-html="ctrl.getInviteMemberDetail['workEnviornment.desc']"></div>
                            </div>
                        </div>
                        <div data-ng-repeat="(key,value) in ctrl.getInviteMemberDetail.feedbackGoals track by $index" class="clearfix separatePad">
                            <div class="headTitle noTopAddBottom" data-ng-bind="pullInterNationalization('feedback.feedbackListing.'+key)"></div>
                            <div class="col-sm-12 col-md-12 clearfix row equalsSize clearfix">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 equalHeight clearfix" data-ng-repeat="area in value track by $index">
                                        <div class="orangeBarBorder">
                                            <div class="title" data-ng-bind="area.goal.name"></div>
                                            <div class="desc" dd-text-collapse dd-text-collapse-max-length="pullInterNationalization('feedback.feedbackListing.count')" dd-text-collapse-text="{{area.goal.description}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swot-analysis-wrapper" data-ng-show="ctrl.feedbackEnable">
                        <h2 data-ng-bind="pullInterNationalization('personality.swotAnalysis')"></h2>
                        <p class="lens-desc" data-ng-bind-html="pullInterNationalization('personality.swotAnalysisDescPA')"></p>
                        <div class="swot-details">
                            <div class="swot-top hide">
                                <p>&#160;</p>
                                <!--p data-ng-bind="pullInterNationalization('personality.internal')"></p-->
                            </div>
                            <div class="swot-mid">
                                <table class="swot-data expand">
                                    <tr class="top-swot">
                                        <td class="swot-left-label hide" rowspan="2">
                                            <!--p class="nowrap-text" label-adjust swot-mid="{{ctrl.swotMemId}}" data-ng-bind="pullInterNationalization('personality.helpful')"></p-->
                                        </td>
                                        <td class="b-r b-b">
                                            <h3 data-ng-bind="pullInterNationalization('personality.opportunities')"></h3>
                                            <p class="swot-labelDesc" data-ng-bind="pullInterNationalization('prismLens.swotDD3')"></p>
                                            <ul>
                                                <li data-ng-repeat="strength in ctrl.swotanalysis.Opportunities" data-ng-bind="strength"></li>
                                            </ul>
                                        </td>
                                        <td class="b-b b-r-w">
                                            <h3 data-ng-bind="pullInterNationalization('personality.threats')"></h3>
                                            <p class="swot-labelDesc" data-ng-bind="pullInterNationalization('prismLens.swotDD4')"></p>
                                            <ul>
                                                <li data-ng-repeat="weakness in ctrl.swotanalysis.Threats" data-ng-bind="weakness"></li>
                                            </ul>
                                        </td>
                                        <td class="swot-right-label hide" rowspan="2">
                                            <!--p class="nowrap-text" label-adjust swot-mid="{{ctrl.swotMemId}}" data-ng-bind="pullInterNationalization('persoanlity.harmful')"></p-->
                                        </td>
                                    </tr>
                                    <tr class="bottom-swot">
                                        <td class="b-r">
                                            <h3 data-ng-bind="pullInterNationalization('personality.weakness')"></h3>
                                            <p class="swot-labelDesc" data-ng-bind="pullInterNationalization('prismLens.swotDD2')"></p>
                                            <ul>
                                                <li data-ng-repeat="oppurtunity in ctrl.swotanalysis.Weakness" data-ng-bind="oppurtunity"></li>
                                            </ul>
                                        </td>
                                        <td class="b-r-w">
                                            <h3 data-ng-bind="pullInterNationalization('personality.strengths')"></h3>
                                            <p class="swot-labelDesc" data-ng-bind="pullInterNationalization('prismLens.swotDD1')"></p>
                                            <ul>
                                                <li data-ng-repeat="threats in ctrl.swotanalysis.Strengths" data-ng-bind="threats"></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="swot-bottom hide">
                                <p>&#160;</p>
                                <!--p data-ng-bind="pullInterNationalization('personality.external')"></p-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>