<div class="col-content-wrapper mh700 mh500">
    <div class="members-content-wrapper">
        <div class="members-header">
            <h2 class="sp-header-title-color" data-ng-bind="::pullInterNationalization('manageAccountContent.linkPermissions')"></h2>
        </div>
    </div>
    <div class="all-content-wrapper options-permissions">
        <div class="options-wrapper">
            <div class="option-controls">
                <form>
                    <p class="option-btn">
                        <input type="checkbox" id="portraitPermissions" data-ng-model="enableSharePortrait" data-ng-click="restrictShareportrait(enableSharePortrait)" />
                        <label for="portraitPermissions" data-ng-class="enableSharePortrait?'sp-background-color':'default-bg'">
                            <span class="on" data-ng-if="enableSharePortrait">{{pullInterNationalization('admin.account.business.permissions.btn.on')}} <span class="rnd-switch icon-icon_switch-dot sp-icon-color pos-r"></span></span>
                            <span class="off" data-ng-if="!enableSharePortrait"><span class="rnd-switch icon-icon_switch-dot sp-icon-color pos-l"></span> <span class="tiHide" data-ng-bind="::pullInterNationalization('admin.account.member.details.offbtn')"></span></span>
                        </label>
                    </p>
                </form>
            </div>
            <div class="option-description">
                <p class="heading" data-ng-bind-html="'<strong>'+pullInterNationalization('settings.shareTitle')+'</strong>'"></p>
                <p class="heading-desc" data-ng-bind="pullInterNationalization('settings.shareDesc')"></p>
            </div>
        </div>
    </div>
</div>
