#####################################

files:
 "/root/deployment.sh" :
   mode: "000755"
   owner: root
   group: root
   content: |
     #!/bin/bash
     cd /usr/share/tomcat8/conf/
     rm application.properties
     rm server.xml
     rm web.xml
     aws s3 cp s3://preprod.surepeople.com/app_server_configfiles/application.properties   /usr/share/tomcat8/conf/
     aws s3 cp s3://preprod.surepeople.com/app_server_configfiles/web.xml       /usr/share/tomcat8/conf/
     aws s3 cp s3://preprod.surepeople.com/app_server_configfiles/server.xml       /usr/share/tomcat8/conf/
     aws s3 cp s3://preprod.surepeople.com/app_server_configfiles/catalina.properties /usr/share/tomcat8/conf/
     cd /sharedfiles/messages/properties/
     aws s3 cp s3://preprod.surepeople.com/properties_files/ /sharedfiles/messages/properties --recursive
     aws s3 cp s3://surepeople-config-files/sensu-config-files/sensurestart.sh  /tmp/    
     aws s3 cp s3://surepeople-config-files/sensu-config-files/sensuinstall.sh  /tmp/ 
     chmod +x /tmp/sensu* 
commands:
 00-deployment-script:
   command: "sh -x /root/deployment.sh"
 01-sensu-install-script:
   command: "sh -x /tmp/sensuinstall.sh"
 02-sensu-restart-script:
   command: "sh -x /tmp/sensurestart.sh"
####################END###############
