<div class="new-cols filters-col full-spanned noMleft">
    <div class="col-content-wrapper sp-panel-accent">
        <h2 class="groups-heading spc-adj" data-ng-bind="::pullInterNationalization('manageAccountContent.headingGroups')"></h2>
        <div class="search-filter s100 mb15 p20">
            <p>
                <input type="text" data-ng-model="ctrl.searchForGroups" placeholder="{{::pullInterNationalization('dashboard.search')}}" data-ng-model-options="{ debounce: { 'default': 100, 'blur': 0 } }">
                <button data-ng-class="{'icon-icon_remove':ctrl.searchForGroups.length, 'icon-icon_search': !ctrl.searchForGroups.length}" class="sp-icon-color pos-adj" data-ng-click="ctrl.searchForGroups.length?ctrl.searchForGroups='':''"></button>
            </p>
        </div>
        <div class="internal-nav-links-wrapper">
            <ul>
                <li>
                    <a href="javascript:void(0)" data-ng-bind-html="::pullInterNationalization('dashboard.groups.all')" data-ng-click="ctrl.groupBasedResult('');ctrl.pageSetting.selectedSearch=''" data-ng-class="!ctrl.pageSetting.selectedSearch?'on':''"></a>
                    <span data-ng-class="!ctrl.pageSetting.selectedSearch?'active-icon icon-icon_focus-arrow':'hide'"></span>
                </li>                                
                <li data-ng-repeat="groupList in recordCount = (ctrl.groupList | filter:ctrl.searchForGroups) track by $index">
                    <a href="javascript:void(0)" data-ng-bind-html="groupList" data-ng-click="ctrl.groupBasedResult(groupList);ctrl.pageSetting.selectedSearch=groupList" data-ng-class="ctrl.pageSetting.selectedSearch===groupList?'on':''"></a>
                    <span data-ng-class="ctrl.pageSetting.selectedSearch===groupList?'active-icon icon-icon_focus-arrow':'hide'"></span>
                </li>
            </ul>
            <p class="generic-no-matches" data-ng-if="ctrl.responseRecieved && !recordCount.length && ctrl.groupList.length" data-ng-bind="::pullInterNationalization('manageAccountContent.noMatchesFound')"></p>
            <p class="generic-no-matches" data-ng-if="ctrl.responseRecieved && !ctrl.groupList.length" data-ng-bind="::pullInterNationalization('manageAccountContent.noGroupsAvailable')"></p>
        </div>
    </div>
    <div class="filter-col-sham"></div>
</div>  
<div class="new-cols content-col sp-panel-accent">
    <div class="col-content-wrapper mh700" data-ng-if="ctrl.groupList.length">
        <div class="members-content-wrapper">
            <div class="members-header">
                <h2 class="sp-header-title-color" data-ng-if="!ctrl.showRenameGroup">{{ctrl.pageSetting.selectedSearch || pullInterNationalization('dashboard.groups.all')}}
                    <span class="total-row-count" data-ng-bind="'('+((recordField.length?recordField.length:0))+')'"></span>
                </h2>
                <p class="group-icons-wrapper">
                    <span class="group-action-icons icon-icon_send-message sp-icon-color" data-ng-click="notificationEmailPoP(ctrl.allMembersEmailId,'GenericMessage')"></span>
                </p>
            </div>
            <div class="members-filters posRel">
                <div class="actions-filter">
                    <p class="pCheckBox top7">
                        <input type="checkbox" name="toggleAll" data-ng-model="ctrl.pageSetting.alltoggle" data-ng-checked="ctrl.pageSetting.alltoggle" id="alltoggle" class="iCheckBox" data-ng-click="ctrl.pageSetting.negative=!ctrl.pageSetting.negative;ctrl.checkAll()" />
                        <label for="alltoggle" class="lCheckBox" data-ng-click="ctrl.checkAll()">
                            <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color"></span>
                        </label>
                    </p>
                    <p class="actions-dropdown-filter">
                        <a href="javascript:void(0)" data-ng-class="{'default-color':!ctrl.pageSetting.userEmail.email.length}" sp-condition="ctrl.pageSetting.userEmail.email.length" sp-click-outside="ctrl.allUsersMenu">{{::pullInterNationalization('manageAccountContent.actions')}}
                            <span class="actions-icon icon-icon_dropdown-arrow sp-icon-color" data-ng-class="ctrl.pageSetting.userEmail.email.length?'sp-icon-color':'default-color'"></span>
                        </a>
                    </p>
                </div>
                <div class="actions-callout-wrappper pos1" data-ng-if="ctrl.allUsersMenu">
                    <ul class="action-links">
                        <li>
                            <a href="javascript:void(0)" data-ng-click="ctrl.pageSetting.userEmail.email.length && notificationEmailPoP(ctrl.pageSetting.userEmail.email,'GenericMessage')">
                                <span class="action-icon icon-icon_send-message sp-icon-color"></span>
                                <span class="action-text" data-ng-bind="::pullInterNationalization('manageAccountContent.sendMsg')"></span>
                            </a>
                        </li>
                    	<li>
                            <a href="javascript:void(0)" data-ng-click="ctrl.viewCompare(0, 'dashboardGroups', (ctrl.pageSetting.selectedSearch || pullInterNationalization('dashboard.groups.all')))">
                                <span class="action-icon icon-icon-compareOverlay sp-icon-color"></span>
                                <span class="action-text" data-ng-bind="::pullInterNationalization('peopleAnalytics.comparePortraits')"></span>
                            </a>
                        </li>                               
                    </ul>
                </div>
                <div class="search-filter">
                    <p>
                        <input type="text" maxlength="28" data-ng-model="ctrl.pageSetting.textSearching" placeholder="{{::pullInterNationalization('admin.member.search')}}" data-ng-model-options="{ debounce: { 'default': 100, 'blur': 0 } }" data-ng-minlength="3">
                        <button data-ng-class="{'icon-icon_remove':ctrl.pageSetting.textSearching.length, 'icon-icon_search': !ctrl.pageSetting.textSearching.length}" class="sp-icon-color" data-ng-click="ctrl.pageSetting.textSearching=''"></button>
                    </p>
                </div>
            </div>
            <div class="custom-container mTop20">
                <div class="custom-row row-header">
                    <div class="custom-new-cols s4">
                    </div>
                    <div class="custom-new-cols tog s45">
                        <h4 class="sort-filter on" data-ng-click="ctrl.active($event,{'predicate':'name', 'reverse':reverse=!reverse})" data-predicate='name'>
                            <span class="sort-text" data-ng-bind="::pullInterNationalization('manageAccountContent.name')"></span>
                            <span class="sort-icon icon-icon_sort sp-icon-color sort-down"></span>
                            <span class="sort-icon icon-icon_sort default-color sort-down"></span>
                            <span class="sort-icon icon-icon_sort-up sp-icon-color sort-up"></span>
                        </h4>
                    </div>
                    <div class="custom-new-cols tog s30 member-status-col-head">
                        <h4 class="sort-filter" data-ng-click="ctrl.active($event,{'predicate':'-userStatusFormatted', 'reverse':reverse=!reverse})" data-predicate='userStatusFormatted'>
                            <span class="sort-text" data-ng-bind="::pullInterNationalization('manageAccountContent.status')"></span>
                            <span class="sort-icon icon-icon_sort sp-icon-color sort-down"></span>
                            <span class="sort-icon icon-icon_sort default-color sort-down"></span>
                            <span class="sort-icon icon-icon_sort-up sp-icon-color sort-up"></span>
                        </h4>
                    </div>
                    <div class="custom-new-cols s20">
                    </div>
                </div>
                <div infinite-scroll="ctrl.returnMemberList(ctrl.pageSetting.pageSize+ctrl.pageSetting.pageSize)" infinite-scroll-immediate-check="false">
                    <div class="custom-row minH" id='{{$index}}' data-ng-repeat="memberList in recordField = (ctrl.memberList | filter:ctrl.pageSetting.textSearching).slice(0,pageSize) track by memberList.id">
                        <div class="custom-new-cols s4 posRel">
                            <p class="pCheckBox">
                                <input type="checkbox" class="iCheckBox" data-ng-click="ctrl.checkUncheck()" name="selectUser" id="selectUser_{{$index}}" checklist-model="ctrl.pageSetting.userEmail.email" checklist-value="{'userId':memberList.id, 'email':memberList.email, 'name' : memberList.name ,'title': memberList.title, 'userStatus':memberList.userStatus}" >
                                <label for="selectUser_{{$index}}" class="lCheckBox">
                                    <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color"></span>
                                </label>
                            </p>
                        </div>
                        <div class="custom-new-cols s45 member-details-col">
                            <div class="member-info">
                                <div class="member-pic">
                                    <img data-lazy-img="{{memberList.smallProfileImage}}" alt="{{memberList.userInitials}}" data-ng-if="memberList.smallProfileImage">
                                    <div class="imgReplacement" data-ng-if="!memberList.smallProfileImage" data-ng-bind="memberList.userInitials"></div>
                                </div>
                                <div class="member-details" data-ng-class="memberList.name?'addSpace':''">
                                    <a href="javascript:void(0)" data-ng-click="memberList.userStatus == 'VALID'?ctrl.memberTakeAway(memberList.email):''" class="member-name border-link" data-ng-class="{'defaultcolor':memberList.userStatus != 'VALID'}"data-ng-if="memberList.name">
                                        <span class="mock-link" data-ng-bind-html="memberList.name"></span>
                                        <span class="role-labels" data-ng-bind-html="ctrl.displayRole(memberList)" data-ng-if="ctrl.displayRole(memberList)"></span>
                                    </a>
                                    <span class="member-title" data-ng-bind="memberList.title" data-ng-if="memberList.title"></span>
                                    <span class="role-labels-responsive" data-ng-bind-html="ctrl.displayRole(memberList)" data-ng-if="ctrl.displayRole(memberList)"></span>
                                    <a href="mailto:{{memberList.email}}" class="member-email border-link" data-ng-class="{'noMarg':!memberList.name}">
                                        <span class="mock-link" data-ng-bind-html="memberList.email"></span>
                                    </a>
                                    <div class="member-status-responsive">
                                        <p data-ng-if="memberList.userStatus != 'VALID'" class="member-status">
                                            <span class="dBlock" data-ng-bind-html="memberList.userStatusFormatted"></span>
                                            <a href="javascript:void(0)" data-ng-click="ctrl.sendEmailReminders(memberList.userStatus,memberList.email)" class="border-link">
                                                <span class="mock-link" data-ng-bind="::pullInterNationalization('admin.member.sendreminder')"></span>
                                            </a>
                                        </p>
                                        <p data-ng-if="memberList.userStatus == 'VALID'" class="member-status">
                                            <span class="dBlock" data-ng-bind-html="memberList.userStatusFormatted"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-new-cols s30 member-status-col">
                            <p data-ng-if="memberList.userStatus != 'VALID'" class="member-status">
                                <span class="dBlock" data-ng-bind-html="memberList.userStatusFormatted"></span>
                                <a href="javascript:void(0)" data-ng-click="ctrl.sendEmailReminders(memberList.userStatus,memberList.email)" class="border-link">
                                    <span class="mock-link" data-ng-bind="::pullInterNationalization('admin.member.sendreminder')"></span>
                                </a>
                            </p>
                            <p data-ng-if="memberList.userStatus == 'VALID'" class="member-status">
                                <span class="dBlock" data-ng-bind-html="memberList.userStatusFormatted"></span>
                            </p>
                        </div>
                        <div class="custom-new-cols s20 posRel member-actions-col">
                            <div class="actions-filter s165">
                                <p class="actions-dropdown-filter smallFilter">
                                    <a href="javascript:void(0)" sp-condition="true" sp-click-outside="show">{{::pullInterNationalization('manageAccountContent.actions')}}
                                        <span class="actions-icon icon-icon_dropdown-arrow sp-icon-color"></span>
                                    </a>
                                </p>
                            </div>
                            <div class="actions-callout-wrappper pos2" data-ng-if="show">
                                <ul class="action-links">
                                    <li>
                                        <a href="javascript:void(0)" data-ng-click="notificationEmailPoP([{'email':memberList.email,'name':memberList.name,'title':memberList.title}])">
                                            <span class="action-icon icon-icon_send-message sp-icon-color"></span>
                                            <span class="action-text" data-ng-bind="::pullInterNationalization('manageAccountContent.sendMsg')"></span>
                                        </a>
                                    </li>
			                        <li data-ng-if="memberList.userStatus === 'VALID'">
			                            <a href="javascript:void(0)" data-ng-click="openPrintWin(('/sp/resources/html/common/prism-print-template.html?mode=print&email='+memberList.email+'&fullName='+memberList.name));">
			                                <span class="action-icon icon-icon-print-prism sp-icon-color"></span>
			                                <span class="action-text" data-ng-bind="::pullInterNationalization('prismBtns.print')"></span>
			                            </a>
			                        </li>                                          
                                    <li data-ng-if="memberList.userStatus === 'VALID'" class="sep">
                                        <hr/>
                                    </li>
                                    <li data-ng-if="memberList.userStatus === 'VALID'">
                                        <a href="javascript:void(0)" data-ng-click="ctrl.memberTakeAway(memberList.email);">
                                            <span class="action-icon icon-icon_accounts_all-groups sp-icon-color"></span>
                                            <span class="action-text" data-ng-bind="::pullInterNationalization('profileKeys.intro.btnView')"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-row" data-ng-if="!recordField.length && ctrl.responseRecieved && ctrl.pageSetting.textSearching">
                        <div class="custom-new-cols s100">
                            <p class="no-data-msgs" data-ng-bind="::pullInterNationalization('admin.member.nomatch')"></p>
                        </div>
                    </div>
                    <div class="custom-row" data-ng-if="!recordField.length && !ctrl.responseRecieved">
                        <div class="custom-new-cols s100">
                            <p class="no-data-msgs" data-ng-bind="::pullInterNationalization('admin.member.informationLoading')"></p>
                        </div>
                    </div>
                    <div class="custom-row" data-ng-if="!recordField.length && ctrl.responseRecieved && !ctrl.profileList.groupLead && !ctrl.pageSetting.textSearching">
                        <div class="custom-new-cols s100">
                            <p class="no-data-msgs" data-ng-bind="::pullInterNationalization('manageAccountContent.noMembers')"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>