<!DOCTYPE html>
<html lang="en" ng-app="spApp">
<head>
<title>Browser Incompatibility | SurePeople</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0" />
<meta name="description"
	content="The SurePeople Change password page." />
<meta name="keywords"
	content="Change Password, SurePeople Change Password, ChangePassword" />
<link type="text/css" rel="stylesheet" href="/sp/resources/css/css-min/bootstrap.min.css" />
<!--[if lte IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="/sp/resources/css/css-min/global_part_1.min.css" />
	<link type="text/css" rel="stylesheet" href="/sp/resources/css/css-min/global_part_2.min.css" />
	<link type="text/css" rel="stylesheet" href="/sp/resources/css/css-min/global_part_3.min.css" />
<![endif]-->
<link rel="icon" type="image/x-icon" href="/sp/resources/css/images/sure_people.ico" />
<link type="text/css" rel="stylesheet" href="/sp/resources/css/css-min/global.min.css" />
<link type="text/css" rel="stylesheet" href="/sp/resources/css/css-min/tags.min.css" />    


<!--[if lte IE 8]>
<style>
.ie8-img {
	display: none;
}
.footer-wrapper {
padding: 35px 0; 

}
</style>
<![endif]-->


</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K7DMVG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K7DMVG');</script>
<!-- End Google Tag Manager -->
	
	<div class="page-wrapper">
		<div id="header">
			



<!-- Header Starts -->
<div class="x-container header-wrapper">
	<header class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-10">
				<a href="/" class="logo"> 
				<img class="ie8-img" alt="SurePeople"
					src="/resources/images/sp-logo.svg" />
					<!--[if lte IE 8]>
									<img alt="SurePeople"
					src="/resources/images/SurePeople_Logo_276x35.jpg" />
					<![endif]-->
					
				</a>
			</div>
		</div>
	</header>
</div>
		</div>
		<div id="content">
			<div id="loader">
				<div class="spinner">
				  <div class="double-bounce1"></div>
				  <div class="double-bounce2"></div>
				</div>	
			</div> 
		<div ui-view>
    
    
<!-- Browser Incompatibility Starts -->
<div class="x-container browser-wrapper">
	<div class="container" >
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
					<h2 class="sign-in-title">Sorry, it looks like you're using a browser that isn't currently supported by SurePeople</h2>
					<p>
						Please download one of these browsers and you will be on your way:
					</p>
      </div>
    </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">    
          <ul class="row">
            <li>
              <p class="logo">
                <a href="https://www.google.com/chrome/browser/" target="_blank">
                  <img src="/resources/images/browser-chrome.png" alt="Google Chrome">
                  Google Chrome
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a href="https://www.mozilla.org/" target="_blank">
                  <img src="/resources/images/browser-ff.png" alt="Mozilla Firefox">
                  Mozilla Firefox
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
                  <img src="/resources/images/browser-ie.png" alt="Internet Explorer">
                  Internet Explorer
                </a>
              </p>
            </li>
            <li>
              <p class="logo">
                <a href="https://support.apple.com/downloads/#safari" target="_blank">
                  <img src="/resources/images/browser-safari.png" alt="Apple Safari">
                  Apple Safari
                </a>
              </p>
            </li>
          </ul>
          <p>
          Already upgraded but still having problems? Please contact <a href="mailto:support@surepeople.com">support@surepeople.com</a>
          </p>

			</div>
		</div>
	</div>
</div>
<!-- Browser Incompatibility Ends -->	
    
    
    
    </div>
		</div>
		<div id="footer">


<!-- Footer Starts -->
<div class="x-container footer-wrapper">
	<footer class="container">
		<div class="row">
			<div class="leftSec">
				<ul>
					<li><span class="footerMessage">Emotional, Relational and Team Intelligence<sup>TM</sup></span></li>
					<!--<li><a href="/products/">Products</a></li>
					 <li><a href="/company/">Company</a></li>
					<li><a href="tel:+1 855-755-SURE (7873)">+1 855-755-SURE (7873)</a></li>-->
				</ul>
			</div>
			<div class="rightSec">
				<p>
					Copyright &copy; 2015 SurePeople, LLC. All rights reserved.
					<span class="break"></span>
					<a href="/privacy/" ng-click="footerLinks('privacy', $event)">Privacy</a>
					<a href="/user-agreement/" ng-click="footerLinks('agreement', $event)">User Agreement</a>
					<a href="/cookies/" ng-click="footerLinks('cookies', $event)">Cookies</a>
					<a href="tel:+1 855-755-SURE (7873)">+1 855-755-SURE (7873)</a>
				</p>
			</div>
		</div>
	</footer>
</div>
<!-- Footer Ends -->

		</div>
	</div>

	<!-- Scripts Start -->
	<script type="text/javascript" src="/sp/resources/js/vendor.js"></script>
<script type="text/javascript" src="/sp/resources/js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/sp/resources/js/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="/sp/resources/js/global.js"></script>
	<!-- Scripts End -->

</body>
</html>