<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6">
            <div>
                <section class="wrapper">
                    <div class="contentBody">
                        <div class="head">
                            <div class="wrap">
                                <div class="headerBar">About to Exit</div>
                                <div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color"></div>
                            </div>
                        </div>
                        <div class="contentArea">
                            <div class="detail clearfix conf">
                                <div class="conf_message">You are about to exit the SurePeople platform for a 3rd party website</div>
                                <div class="conf_message normal">Links which take you off of the SurePeople website are not under the control of SurePeople, and SurePeople is not responsible for the contents of any such site or any further links from such site.</div>
                                <div class="conf_message normal">SurePeople is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement of the linked site by SurePeople.</div>
                                <div class="sp-btn-wrapper sp-red btn-esmall floatLeft spacing">
                                    <div class="sp-btn">
                                        <input type="button" value="YES" class="btnStyle1" ng-click="redirectToPage(link)">
                                    </div>
                                </div>
                                <div class="sp-btn-wrapper sp-red btn-esmall floatLeft spacing">
                                    <div class="sp-btn">
                                        <input type="button" value="NO" class="btnStyle1" ng-click="closeThisDialog()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>