<nav class="related-article-tools" data-ng-init="getAllBookmarks()">
    <section class="related-article-links">
        <h2 class="sp-header-title-color"><span data-ng-bind="::pullInterNationalization('kcContent.bookmarks')"></span><span class="bicon icon-bookmark sp-icon-color"></span></h2>
        <p class="bookmark-intro hide" data-ng-if="!recentBookmarkList.length" data-ng-class="!recentBookmarkList.length?'show':'hide'" data-ng-bind="::pullInterNationalization('kcContent.bookmarksDesc')"></p>
        <ul class="spotlight-related-links event-trending-articles hide" id="event_sidebar-trending" data-ng-if="recentBookmarkList.length" data-ng-class="recentBookmarkList.length?'show':'hide'">
            <li data-ng-repeat="t in recentBookmarkList | limitTo:5">
                <span class="kc-icons-themed sp-icon-color" data-ng-class="{'icon-icon_audio':t.articleType=='PODCAST','icon-icon_slideshow':t.articleType=='SLIDESHARE','icon-icon_video':t.articleType=='VIDEO','icon-icon_article':t.articleType=='TEXT'}"></span>
                <h3>
                                                    <a class="border-link" href="/sp/trainingLibrary/article?{{t.articleLinkUrl}}" id=event_type_{{t.articleType}}_{{$index}}>
                                                        <span class="mock-link" data-ng-bind="::t.articleLinkLabel"></span>
                                                    </a>
                                                </h3>
                <p class="training-tool-info" data-ng-if="t.author[0]"><span class="author"><span>{{::pullInterNationalization('dashboard.by')}}</span> <span data-ng-bind="::t.author[0]"></span></span>
                </p>
            </li>
        </ul>
        <p class="bookmarks-count-link" data-ng-if="recentBookmarkList.length > 5">
            <span class="bCounter" data-ng-bind="'5 of '+recentBookmarkList.length"></span>
            <a class="border-link" href="/sp/trainingLibrary/allBookmarks"><span class="mock-link" data-ng-bind="::pullInterNationalization('kcContent.bookmarksAll')"></span></a>
        </p>
    </section>
</nav>
