<div class="custom-overlay-wrapper posRel" style="width:{{ctrl.overlayDim.width}}px;min-height:{{ctrl.overlayDim.height}}px">
    <a href="javascript:void(0)" class="done-btn btn-square-12px sp-background-color" data-ng-click="ctrl.competencyPreview=false;" data-ng-bind="::pullInterNationalization('manageAccountContent.done')"></a>
    <div class="members-content-wrapper">
        <div class="members-header">
            <h2 class="sp-header-title-color" data-ng-bind="ctrl.competencyProfileDetail.name"></h2>
        </div>
    </div>
    
    <div class="competencies-lilsting-wrapper">
    	<div class="competency-details-wrap" data-ng-repeat="competency in ctrl.competencyListing">
    		<h3 data-ng-bind="competency.name"></h3>
    		<div class="cDesc" data-ng-bind-html="competency.description"></div>
    		
    		<h4 data-ng-bind="competency.devStrategyActionCategoryList[0].title"></h4>
    		<ul>
    			<li data-ng-repeat="devList in competency.devStrategyActionCategoryList[0].actionList" data-ng-bind="devList.title"></li>
    		</ul>
    	</div>
    </div>
</div>