<div class="container" id="declineGrowthScreen" data-ng-style="ctrl.winWidth<768 && {'height':ctrl.winHeight}">
    <div class="row" data-ng-class="ctrl.winWidth<768?'row-full-w':''">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
            <div>
                <section class="wrapper">
                    <div class="contentBody">
                        <div class="head">
                            <div class="wrap">
                                <div class="headerBar" data-ng-bind="::pullInterNationalization('sysadmin.organization.addSpProgram')"></div>
                                <div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color"></div>
                            </div>
                        </div>
                        <div class="contentArea nobrr clearfix">
                            <div class="messageBlock">
                                <div class="angucomplete-wrapper">
                                    <p class="custom-search-wrapper">
                                        <input type="text" placeholder="{{::pullInterNationalization('sysadmin.organization.search')}}" data-ng-model="ctrl.pageSetting.addFromSurePeople" class="custom-search" />
                                        <button data-ng-class="{'icon-icon_remove':ctrl.pageSetting.addFromSurePeople.length, 'icon-icon_search': !ctrl.pageSetting.addFromSurePeople.length}" class="sp-icon-color noLabel" data-ng-click="ctrl.pageSetting.addFromSurePeople=''"></button>
                                    </p>
                                </div>
                                <div class="totalRecord">
                                    <span data-ng-if="ctrl.actionplanid.actionPlanIds.length">
	      								<span class="number" data-ng-bind="ctrl.actionplanid.actionPlanIds.length"></span><span class="text" data-ng-bind="::pullInterNationalization('dashboard.recordOrganization')"></span> <span class="text" data-ng-bind="::pullInterNationalization('manageAccountContent.recordSelected')"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="messageBlock" style="padding-top:0;margin-bottom:15px">
                                <div class="selected-group-List-wrapper">
                                    <div class="group-row" data-ng-repeat="learningProgram in recordField = (ctrl.globalSPProgramList | filter : ctrl.pageSetting.addFromSurePeople) track by learningProgram.id">
                                        <div class="group-col w80">
                                             <div class="name-image image_name">
                                                <div class="image image_link">
                                                    <img data-ng-src="{{learningProgram.imageUrl||'/sp/resources/css/css-min/images/learning-program_default.png'}}"></img>
                                                </div>
                                                <div class="name-description image_description">
                                                    <div class="title" data-ng-bind="learningProgram.name"></div>
                                                    <div class="description" data-ng-bind="learningProgram.description"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="group-col-custom">
                                            <p data-ng-if="ctrl.actionplanid.actionPlanIds.indexOf(learningProgram.id) === -1">
                                                <a href="javascript:void(0)" class="btn-square-12px sp-background-color" data-ng-bind="::pullInterNationalization('manageAccountContent.select')" data-ng-click="ctrl.addToList(learningProgram.id,ctrl.accountProgramDetail.company.id)"></a>
                                            </p>
                                            <p class="added-msg" data-ng-if="ctrl.actionplanid.actionPlanIds.indexOf(learningProgram.id) !== -1" data-ng-bind="::pullInterNationalization('manageAccountContent.selected')">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="custom-row-5 col-container" data-ng-if="!recordField.length">
                                        <div class="custom-new-cols s100">
                                            <p class="no-data-msgs" data-ng-bind="::pullInterNationalization('manageAccountContent.noUserAvailable')"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btns-wrapper-popup">
                                <input type="button" value="{{::pullInterNationalization('manageAccountContent.done')}}" class="btn-block btn-14px sp-btn-color" class="btn-block btn-14px sp-btn-color" data-ng-click="ctrl.addToCompany(ctrl.actionplanid)">
                                <input type="button" value="{{::pullInterNationalization('manageAccountContent.cancel')}}" class="btn-block btn-14px btn-grey-dark" data-ng-click="closeThisDialog();">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
