<div class="container" id="editGroup">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <div>
                <section class="wrapper">
                    <div class="contentBody">
                        <div class="head">
                            <div class="wrap">
                                <div class="headerBar">Remove Permissions</div>
                                <div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color" data-ng-click="closeThisDialog()"></div>
                            </div>
                        </div>
                        <div class="contentArea">
                            <div class="detail clearfix">
                                <div class="conf_message">Are you sure you want to remove the system admin tools access for this user ?</div>
                                <div class="sp-btn-wrapper sp-red btn-small floatLeft spacing">
                                    <div class="sp-btn">
                                        <input type="button" value="Yes" class="btnStyle1 " data-ng-click="ctrl.updateUserAccess('ALL');">
                                    </div>
                                </div>
                                <div class="sp-btn-wrapper sp-grey btn-small floatLeft spacing">
                                    <div class="sp-btn">
                                        <input type="button" value="No" class="btnStyle1 " data-ng-click="closeThisDialog()">
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </section>
                </div>
            </div>
        </div>
    </div>
