<div data-ng-if="inviteReady" data-ng-class="inviteReady?'show':'hide'" data-ng-controller="competencyManager as ctrl" data-ng-init="ctrl.getManagerResult()" data-ng-cloak>
    <div class="container">
        <div class="cm-listing-wrap cm-listing-cols sp-panel-accent">
            <div class="ev-listing-header evaluation-cols noMin">
                <div class="evaluation-mgr-header">
                	<h2 class="sp-header-title-color" data-ng-bind="::pullInterNationalization('competency.manager.evaluation.title')"></h2>
                	<p class="clbt mSpc print-bold">
                		<span data-ng-bind="ctrl.competencyEvaluation.startDate"></span>
                		<span> - </span>
                		<span data-ng-bind="ctrl.competencyEvaluation.endDate"></span>
                	</p>
                	
                </div>
                
                <div class="ev-mgr-details-wrap added-height">
	                <a href="javascript:void(0)" data-ng-click="ctrl.genericPrint('managerView')" class="ev-print-link">
	                    <span class="icon-icon-print-prism sp-icon-color"></span>
	                    <span class="print-report-text" data-ng-bind="::pullInterNationalization('prism.relationship-advisor.btn3')"></span>
	                </a>  
	                <ol class="evaluation-left-wrap" data-ng-if="ctrl.scoreEvaluationList.length > 1">
	                <li class="step-element">
                                <ol>
                                <li class="flt evType">
                                        <p class="pCheckBox added-right">
                                           
                                            <label for="selfCheck" class="lCheckBox">
                                                <span class="lCheckBoxText" data-ng-bind="::pullInterNationalization('competency.admin.show')+':'"></span>
                                            </label>
                                        </p>
                                    </li>
                                    <li class="flt evType" data-ng-if="ctrl.showSelfRating">
                                        <p class="pCheckBox">
                                           <input type="checkbox" data-ng-disabled="ctrl.disableCheckbox.self" data-ng-click="ctrl.checkboxState()" data-ng-model="ctrl.evaluationsView.self" class="iCheckBox" id="selfCheck">
                                            <label for="selfCheck" class="lCheckBox">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color"></span>
                                                <span class="lCheckBoxText" data-ng-bind="::pullInterNationalization('competency.admin.self')"></span>
                                            </label>
                                        </p>
                                    </li>
                                    <li class="flt evType addSpace" data-ng-if="ctrl.showManagerRating">
                                        <p class="pCheckBox">
                                            <input type="checkbox" data-ng-disabled="ctrl.disableCheckbox.manager" data-ng-click="ctrl.checkboxState()" data-ng-model="ctrl.evaluationsView.manager" class="iCheckBox" id="managerCheck">
                                            <label for="managerCheck" class="lCheckBox">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color"></span>
                                                <span class="lCheckBoxText" data-ng-bind="::pullInterNationalization('competency.admin.manager')"></span>
                                            </label>
                                        </p>
                                    </li>
                                    <li class="flt evType" data-ng-if="ctrl.showPeerRating">
                                        <p class="pCheckBox">
                                            <input type="checkbox" data-ng-disabled="ctrl.disableCheckbox.peers" data-ng-click="ctrl.checkboxState()" data-ng-model="ctrl.evaluationsView.peers" class="iCheckBox" id="peerCheck">
                                            <label for="peerCheck" class="lCheckBox">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color"></span>
                                                <span class="lCheckBoxText" data-ng-bind="::pullInterNationalization('competency.admin.peer')"></span>
                                            </label>
                                        </p>
                                    </li>
                                </ol>
                            </li>    
                            </ol>          
                   <p class="ev-member-details clear">
                       <span class="ev-mem-pic-holder">
                                   <span class="imgReplacement" data-ng-if="ctrl.loggedInUser.member.smallProfileImage === null" data-ng-bind="ctrl.loggedInUser.member.userInitials"></span>
                       <span data-ng-if="ctrl.loggedInUser.member.smallProfileImage !== null">
                                   <img data-ng-src="{{ctrl.loggedInUser.member.smallProfileImage}}">
                               </span>
                       </span>
                       <span class="ev-mem-info auto-width">
							<span class="ev-name sp-link-color" data-ng-bind="ctrl.loggedInUser.member.firstName +' '+ ctrl.loggedInUser.member.lastName"></span>
                       		<span class="ev-title" data-ng-bind="ctrl.loggedInUser.member.title"></span>
                       </span>
                   </p>                
                </div>
            </div>
            <div class="ev-status-cols">
                <div class="ev-listing-row m20">
                    <div class="ev-list-mem-info ev-list-cols">
                        <p class="ev-mem-search">
                        	<input class="ipShow" maxlength="28" data-ng-model="ctrl.pageVariables.searchText" type="text" placeholder="{{::pullInterNationalization('dashboard.search')}}" />
                            <input class="ipHide" maxlength="28" data-ng-model="ctrl.pageVariables.searchText" type="text" placeholder="{{::pullInterNationalization('dashboard.search')}}" />
                            <button data-ng-class="{'icon-icon_remove':ctrl.pageVariables.searchText.length, 'icon-icon_search': !ctrl.pageVariables.searchText.length}" class="sp-icon-color icon-icon_search" data-ng-click="ctrl.pageVariables.searchText='';"></button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="ev-listing-cols-wrap">
                <div class="ev-listing-cols-header competency-trait-block" data-ng-if="record.length">
                    <div class="ev-listing-row mb0">
                        <div class="ev-list-mem-info ev-list-cols extd">
                            <h4 class="sort-filter on" data-ng-click="ctrl.sortManagerViewData($event,{'predicate':'lastName', 'reverse':reverse=!reverse})" data-predicate="lastName">
			        <span class="sort-text" data-ng-bind="pullInterNationalization('manageAccountContent.members')+' ('+record.length+')'"></span>
			        <span class="sort-icon icon-icon_sort sp-icon-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort default-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort-up sp-icon-color sort-up"></span>
			       </h4>
                        </div>
                        <div class="ev-list-rating-self ev-list-cols" data-ng-if="ctrl.showSelfRating && ctrl.evaluationsView.self">
                            <h4 class="sort-filter on" data-ng-click="ctrl.sortManagerViewData($event,{'predicate':'selfScore', 'reverse':reverse=!reverse})" data-predicate="Self">
			        <span class="sort-text" data-ng-bind="::pullInterNationalization('spectrum.self')"></span>
			        <span class="sort-icon icon-icon_sort sp-icon-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort default-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort-up sp-icon-color sort-up"></span>
			       </h4>
                        </div>
                        <div class="ev-list-rating-manager ev-list-cols" data-ng-if="ctrl.showManagerRating && ctrl.evaluationsView.manager">
                            <h4 class="sort-filter on" data-ng-click="ctrl.sortManagerViewData($event,{'predicate':'managerScore', 'reverse':reverse=!reverse})" data-predicate="Manager">
			        <span class="sort-text" data-ng-bind="::pullInterNationalization('spectrum.manager')"></span>
			        <span class="sort-icon icon-icon_sort sp-icon-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort default-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort-up sp-icon-color sort-up"></span>
			       </h4>
                        </div>
                        <div class="ev-list-rating-peer ev-list-cols" data-ng-if="ctrl.showPeerRating && ctrl.evaluationsView.peers">
                            <h4 class="sort-filter on" data-ng-click="ctrl.sortManagerViewData($event,{'predicate':'peerScore', 'reverse':reverse=!reverse})" data-predicate="Peers">
			        <span class="sort-text" data-ng-bind="::pullInterNationalization('competency.admin.peer')"></span>
			        <span class="sort-icon icon-icon_sort sp-icon-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort default-color sort-down"></span>
			        <span class="sort-icon icon-icon_sort-up sp-icon-color sort-up"></span>
			       </h4>
                        </div>
                    </div>
                </div>
                <div class="ev-listing-cols" data-ng-repeat="list in record=(ctrl.competencyUsers|filter:ctrl.pageVariables.searchText) track by $index">
                    <div class="ev-listing-row">
                        <div class="ev-list-mem-info ev-list-cols extd">
                            <p class="ev-member-details">
                                <span class="ev-mem-pic-holder">
                                            <span class="imgReplacement" data-ng-if="list.smallProfileImage === null" data-ng-bind="list.userInitials"></span>
                                <span data-ng-if="list.smallProfileImage !== null">
                                            <img data-ng-src="{{list.smallProfileImage}}">
                                        </span>
                                </span>
                                <span class="ev-mem-info">
									<span class="ev-name sp-link-color" data-ng-bind="list.name"></span>
                                	<span class="ev-title" data-ng-bind="list.title"></span>
                                	<span class="ev-email" data-ng-bind="list.email" data-ng-class="{'top0': !list.name}"></span>
                                </span>
                            </p>
                            <p class="ev-member-profile sp-link-color">
                        		<span class="evp-text" data-ng-bind="ctrl.competencyProfileMap[list.competencyProfileId].name"></span>
                        	</p>
                        </div>
                        <div class="ev-list-rating-self ev-list-cols rating-cols" data-ng-if="ctrl.showSelfRating && ctrl.evaluationsView.self" data-ng-class="{'lastCol': (!ctrl.showManagerRating && !ctrl.showPeerRating) || (!ctrl.evaluationsView.manager && !ctrl.evaluationsView.peers)}">
                            <div class="ev-rating-cont">
                                <div class="ev-rating-cont-top">
                                    <p class="rating-val sp-link-color mb2" data-ng-if="list.self !==null && list.self.score !== 0" data-ng-bind="list.self.score"></p>
                                <p class="rating-val" data-ng-if="list.self !==null && list.self.score === 0" data-ng-bind="::pullInterNationalization('competency.admin.notRated')"></p>
                                <p class="rating-val" data-ng-if="list.self === null" data-ng-bind="::pullInterNationalization('competency.admin.rating.notInitiated')"></p>
                                    <div class="ratings-hex" data-ng-if="list.self !==null && list.self.score !== 0">
                                        <div class="empty-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}"></div>
                                        <div class="full-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}" data-ng-style="{width:(list.self.score/((ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)/10))*10+ '%'}"></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="ev-list-rating-manager ev-list-cols rating-cols" data-ng-if="ctrl.showManagerRating && ctrl.evaluationsView.manager" data-ng-class="{'lastCol': !ctrl.evaluationsView.peers || !ctrl.showPeerRating}">
                            <div class="ev-rating-cont">
                                <div class="ev-rating-cont-top">
                                    <p class="rating-val sp-link-color mb2" data-ng-if="list.manager !==null && list.manager.score !== 0" data-ng-bind="list.manager.score"></p>
                                <p class="rating-val" data-ng-if="list.manager !==null && list.manager.score === 0" data-ng-bind="::pullInterNationalization('competency.admin.notRated')"></p>
                                <p class="rating-val" data-ng-if="list.manager === null" data-ng-bind="::pullInterNationalization('competency.admin.rating.notInitiated')"></p>
                                    <div class="ratings-hex" data-ng-if="list.manager !==null && list.manager.score !== 0">
                                        <div class="empty-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}"></div>
                                        <div class="full-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}" data-ng-style="{width:(list.manager.score/((ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)/10))*10+ '%'}"></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="ev-list-rating-peer ev-list-cols rating-cols lastCol" data-ng-if="ctrl.showPeerRating && ctrl.evaluationsView.peers">
                            <div class="ev-rating-cont">
                                <div class="ev-rating-cont-top">
                                    <p class="rating-val sp-link-color mb2" data-ng-if="list.peers !==null && list.peers.score !== 0" data-ng-bind="list.peers.score"></p>
                                <p class="rating-val" data-ng-if="list.peers !==null && list.peers.score === 0" data-ng-bind="::pullInterNationalization('competency.admin.notRated')"></p>
                                <p class="rating-val" data-ng-if="list.peers === null" data-ng-bind="::pullInterNationalization('competency.admin.rating.notInitiated')"></p>
                                    <div class="ratings-hex" data-ng-if="list.peers !==null && list.peers.score !== 0">
                                        <div class="empty-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}"></div>
                                        <div class="full-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}" data-ng-style="{width:(list.peers.score/((ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)/10))*10+ '%'}"></div>
                                    </div>
                                </div>
                                <div class="ev-rating-cont-bottom">
                                    <p class="ev-peer-rating">
                                        <span class="ev-nm" data-ng-if="list.peers !== null" data-ng-bind="::pullInterNationalization('competency.admin.peer.average')"></span>
                                        <a data-ng-click="ctrl.peerEvaluationForManager(list)" data-ng-if="list.peers !== null" href="javascript:void(0)" class="border-link">
                                            <span class="mock-link">{{list.peers.completedCount}}/{{list.peers.count}} {{::pullInterNationalization('spectrum.evaluation')}}</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Competency Accordian Starts -->
                    <section class="competency-trait-section extd" data-ng-class="{'col_2': ((!ctrl.showPeerRating || !ctrl.showManagerRating || !ctrl.showSelfRating) || (!ctrl.evaluationsView.self || !ctrl.evaluationsView.manager || !ctrl.evaluationsView.peers)), 'col_1': ((!ctrl.showPeerRating && !ctrl.showManagerRating) || (!ctrl.showManagerRating && !ctrl.showSelfRating) || (!ctrl.showPeerRating && !ctrl.showSelfRating)) || ((!ctrl.evaluationsView.peers && !ctrl.evaluationsView.manager) || (!ctrl.evaluationsView.manager && !ctrl.evaluationsView.self) || (!ctrl.evaluationsView.peers && !ctrl.evaluationsView.self)), 'extd': !ctrl.competencyEvaluationInProgress}">
                        <header class="ct-header-wrap">
                            <ol>
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="ctrl.previewRating(list.competencyProfileId, 'managerView');">
                                        <span data-ng-bind="list.competencyName"></span>
                                    </a>
                                </li>
                                <li class="li-pipe"></li>
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="list.enableSlider ? ctrl.toggleSection(('#section_cont_'+list.id), list.id) : ''">
                                        <span data-ng-class="{'disabled-slider':!list.enableSlider}" data-ng-bind="::pullInterNationalization('competency.score.average')"></span>
                                        <span class="evp-icon icon-icon_sort sp-icon-color" data-ng-class="ctrl.activeToggleId===list.id?'icon-icon_sort-up':'icon-icon_sort'"></span>
                                    </a>
                                </li>
                            </ol>
                        </header>
                        <div class="ct-content" id="section_cont_{{list.id}}">
                            <div class="competency-trait-block">
                                <div class="header-related-content">
                                    <div class="content-section clearfix">
                                        <div class="competencyProfile company-average" data-ng-repeat="competency in ctrl.competencyProfileMap[list.competencyProfileId].competencyList track by $index" data-ng-init="loopIndex=$index">
                                            <div class="ev-listing-row">
                                                <div class="ev-list-mem-info ev-list-cols d_extd" data-ng-class="{'d_col1_single': ((ctrl.evaluationsView.self && !ctrl.evaluationsView.manager && !ctrl.evaluationsView.peers) || (!ctrl.evaluationsView.self && ctrl.evaluationsView.manager && !ctrl.evaluationsView.peers) || (!ctrl.evaluationsView.self && !ctrl.evaluationsView.manager && ctrl.evaluationsView.peers)), 'd_col1': ctrl.competencyEvaluationInProgress, 'd_extd': !ctrl.competencyEvaluationInProgress, 'adj1': (!ctrl.evaluationsView.self || !ctrl.evaluationsView.manager || !ctrl.evaluationsView.peers)}">
                                                    <p class="ev-member-details company-average">
                                                        <span class="ev-mem-info w100 pl0">
															<span class="ev-name f500" data-ng-bind="competency.name" data-ng-if="ctrl.winWidth>1025"></span>
                                                    		<span class="ev-name f500" data-ng-bind="competency.name | addEllipsis:50" data-ng-if="ctrl.winWidth<1025"></span>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="ev-list-rating-self ev-list-cols rating-cols d_col_adj" data-ng-class="{'d_col2_single': ((ctrl.evaluationsView.self && !ctrl.evaluationsView.manager && !ctrl.evaluationsView.peers) || (!ctrl.evaluationsView.self && ctrl.evaluationsView.manager && !ctrl.evaluationsView.peers) || (!ctrl.evaluationsView.self && !ctrl.evaluationsView.manager && ctrl.evaluationsView.peers)), 'd_col_adj2': (ctrl.evaluationsView.self && ctrl.evaluationsView.manager && !ctrl.evaluationsView.peers), 'd_col_adj1': (!ctrl.evaluationsView.self || !ctrl.evaluationsView.manager || !ctrl.evaluationsView.peers), 'd_col_adj': !ctrl.competencyEvaluationInProgress, 'd_col2':(listed==='self'), 'd_col3':(listed==='manager'), 'd_col4':(listed==='peers')}"  data-ng-repeat="listed in ctrl.scoreEvaluationList" data-ng-if="ctrl.evaluationsView[listed]">
                                                 <div class="ev-rating-cont company-average">
                                                        <div class="ev-rating-cont-top" data-ng-if="list[listed]">
                                                            <p class="rating-val f300" data-ng-if="list[listed].scoreArray !== null" data-ng-bind="list[listed].scoreArray[loopIndex]"></p>
                                                        <p class="rating-val f300" data-ng-if="list[listed].scoreArray === null" data-ng-bind="::pullInterNationalization('competency.admin.notRated')"></p>
                                                            <div class="ratings-hex" data-ng-if="list[listed] !== null && list[listed].score !== 0">
                                                                <div class="empty-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}"></div>
                                                                <div class="full-hex lh25" data-rating="{{ctrl.sharedProperties.processRatingHex(ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)}}" data-ng-style="{width:(list[listed].scoreArray[loopIndex]/((ctrl.competencyProfileMap[list.competencyProfileId].ratingConfiguration.size)/10))*10+ '%'}"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="ev-rating-cont-top" data-ng-if="!list[listed]">
	                                                        <p class="rating-val f300" data-ng-bind="::pullInterNationalization('competency.admin.rating.notInitiated')"></p>
	                                                    </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Competency Accordian Ends -->
                </div>
                <h5 align="center" data-ng-if="!record.length && !ctrl.responseAvailable" data-ng-bind="::pullInterNationalization('practiceArea.loading')"></h5>
                <h5 align="center" data-ng-if="!record.length && ctrl.responseAvailable" data-ng-bind="::pullInterNationalization('spectrum.engagement.noRecord')"></h5>
            </div>
        </div>
    </div>
</div>