<!-- Competency Listing Starts -->
<div class="x-container">
    <div class="container">
        <div class="table-flex-cols">
        
        
            <!-- Competency Listing Left Starts -->
            <div class="lnd-left-sec sp-panel-accent">
                <div class="cm-listing-filters-wrap cm-listing-cols full-spanned">
                    <div class="custom-slide-toggle custom-slide-2" id="custom-slide-2">
                        <article class="spectrum-filter-toggle">
                            <span class="filters-header-text adj f500" data-ng-bind="::pullInterNationalization('competency.admin.evalReports')"></span>
                            <a href="javascript:void(0)" class="filter-slide-toggle l0" id="custom-slide-pane-1">
                                <span class="toggle-btn icon-icon_accounts_remove"></span>
                            </a>
                        </article>
                        <div class="new-competency-filters-wrap">
                            <div class="cf-box-wrap evaluation-left-wrap noBrd">
                            <ol>
                            <li class="step-label mtop0 clear hide" data-ng-bind="::pullInterNationalization('competency.admin.viewBy.evaluations')"></li>
                                
                                </ol>
                                <div class="select-box-wrapper">
                                    <div class="select-box">
                                        <span class="icon-icon_dropdown-arrow sp-icon-color"></span>
                                        <select data-ng-model="ctrl.viewByOption" data-ng-change="ctrl.toggleViewBy()">
                                        <option label="Select" value="" data-ng-bind="'Select'"></option>
                                        <option label="Competency Profile" value="competency" data-ng-bind="'Competency Profile'"></option>
                                        <option label="Members/Groups" value="member" data-ng-bind="'Members/Groups'"></option>
                                        </select>
                                    </div>
                                    <div class="select-box mtop30" data-ng-if="ctrl.viewByOption === 'competency'">
                                        <span class="icon-icon_dropdown-arrow sp-icon-color"></span>
                                        <select data-ng-model="ctrl.selectedViewByCompetencyId" data-ng-change="ctrl.getViewByCompetencyDetails()" data-ng-options="list.id as (list.name) for list in ctrl.viewByCompetenciesList">
                                    </select>
                                    </div>
                                    <div class="select-box angucomplete-wrapper mtop30" data-ng-if="ctrl.viewByOption === 'member'">
                                         <angucomplete id="gl2" placeholder="{{::pullInterNationalization('competency.admin.viewByuserSearch.placeholder')}}" pause="100" selectedobject="selectedObj" localdata="ctrl.viewByMembersList" searchfields="name" titlefield="name" minlength="2" inputclass="form-control form-control-small" templatetype="default" update-fn="ctrl.addToViewByMemberList(callback)" />
                                    </div>
                                   <ol class="step-tags" data-ng-if="ctrl.viewByOption === 'member'">
                                    <li class="fullWidth" data-ng-repeat="match in ctrl.viewBySelectedMembersList track by $index">
                                        <span class="st-icon sp-icon-color" data-ng-class="{'icon-icon_accounts_all-members':match.type === 'member', 'icon-icon_accounts_all-groups':match.type === 'groups'}"></span>
                                        <span class="st-text addElps" data-ng-bind="match.name"></span>
                                        <a href="javascript:void(0)" class="st-close-btn icon-icon_remove" data-ng-click="ctrl.removeFromViewByMemberList(match)"></a>
                                    </li>
                                </ol>
                           
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-slide-toggle custom-slide-1" id="custom-slide-1">
                        <article class="spectrum-filter-toggle">
                            <span class="icon-icon_spectrum-filter filters-icon"></span>
                            <span class="filters-header-text f500" data-ng-bind="::pullInterNationalization('manageAccountContent.filter')"></span>
                            <a data-ng-if="!ctrl.competencyEvaluationInProgress" href="javascript:void(0)" class="filter-slide-toggle r0" id="custom-slide-pane">
                                <span class="toggle-txt" data-ng-bind="::pullInterNationalization('competency.admin.viewRepotrs')"></span>
                                <span class="toggle-btn icon-triangle-right"></span>
                            </a>
                        </article>
                        <div class="col-container noPad">
                        <article class="accordian-filter posRel">
                            <ul>
                            
                            
                                <!-- Competency Filter Starts  -->
                                <li>
                                    <input type="checkbox" class="accordian-checkbox" checked data-ng-click="ctrl.closeRest($event)" />
                                    <span class="clearButon sp-spectrum-color" data-ng-if="ctrl.pageVariables.selectedCompetencyProfileId!== ''" data-ng-click="ctrl.clear('','selectedCompetencyProfileId');" data-ng-bind="::pullInterNationalization('manageAccountContent.clear')"></span>
                                    <span class='expand-collapse'></span>
                                    <h3 data-ng-bind="::pullInterNationalization('manageAccountContent.competency')"></h3>
                                    <div class="header-related-content two-way filter-related-content cf-box-wrap override-padding">
										<div class="select-box-wrapper mtop15">
											<div class="select-box">
												<span class="icon-icon_dropdown-arrow sp-icon-color"></span>
												<select
													data-ng-model="ctrl.pageVariables.selectedCompetencyProfileId"
													data-ng-change="ctrl.getCompetenciesForFilter()"
													data-ng-options="list.id as (list.name) for list in ctrl.filterOptions.allCompetencyProfiles">
												</select>
											</div>
										</div>
								    </div>
									<div class="header-related-content filter-related-content" data-ng-if="ctrl.pageVariables.selectedCompetencyProfileId!== ''" id="competency">
										<div class="controlwrap sp-search-button">
                                            <input type="text" class="form-control" maxlength="28" data-ng-model="ctrl.pageVariables.searchCompetencyFilters" placeholder="{{::pullInterNationalization('competency.admin.filter.search.label')}}" data-ng-model-options="{ debounce: { 'default': 100, 'blur': 0 } }">
                                            <button ng-class="{'icon-icon_remove':ctrl.pageVariables.searchCompetencyFilters.length, 'icon-icon_search': !ctrl.pageVariables.searchCompetencyFilters.length}" class="sp-icon-color" data-ng-click="ctrl.pageVariables.searchCompetencyFilters=''"></button>
                                        </div>
                                        <div class="tick-selection" repeat-done="ctrl.calculateHeight('competency')" data-ng-repeat="manageFilter in recordField = (ctrl.filterOptions.allCompetencyAttributes | filter:ctrl.pageVariables.searchCompetencyFilters)">
                                            <input type="checkbox" data-ng-checked="ctrl.pageVariables.selectedCompetencyAttribute.indexOf(manageFilter)!==-1" class="filterCheckBox groupCheckBox" id="competency_{{$index}}" data-ng-click="ctrl.includeCheck(manageFilter, 'selectedCompetencyAttribute', false)">
                                            <label for="competency_{{$index}}" class="filterCheckBox-label pull-left compLeftAdj">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color membersFiltersChecks"></span>
                                            </label>
                                            <label for="competency_{{$index}}">
                                                <span class="floLeft font_14_300 sp-spectrum-color right-adjust" data-ng-bind="::manageFilter.name"></span>
                                            </label>
                                        </div>
                                        <p data-ng-if="!recordField.length" class="generic-no-matches" data-ng-bind="::pullInterNationalization('manageAccountContent.noMatchesFound')"></p>
									</div>
                                </li>
                                <!-- Competency Filter Ends  -->
                                
                                
                                <!-- Status Filter Starts  -->
                                <li data-ng-if="ctrl.showManagerRating || ctrl.showSelfRating">
                                    <input type="checkbox" class="accordian-checkbox" checked data-ng-click="ctrl.closeRest($event)" />
                                    <span class="clearButon sp-spectrum-color" data-ng-if="ctrl.pageVariables.evaluationStatusSelected.length" data-ng-click="ctrl.clear('.statusCheckBox','evaluationStatusSelected')" data-ng-bind="::pullInterNationalization('manageAccountContent.clear')"></span>
                                    <span class='expand-collapse'></span>
                                    <h3 data-ng-bind="::pullInterNationalization('competency.admin.filter.status.label')"></h3>
                                    <div class='header-related-content' id="statusSelf" data-ng-if="ctrl.showSelfRating">
										<p class="filter-status-label" data-ng-bind="::pullInterNationalization('competency.admin.self')"></p>
										<div class="tick-selection" repeat-done="ctrl.calculateHeight('status')" data-ng-repeat="manageFilter in recordField = (ctrl.filterOptions.selfEvaluationStatus)">
                                            <input type="checkbox" data-ng-checked="ctrl.pageVariables.evaluationStatusSelected.indexOf(manageFilter)!==-1" class="filterCheckBox statusCheckBox" id="status_{{$index}}" data-ng-click="ctrl.includeCheck(manageFilter,'evaluationStatusSelected',false)">
                                            <label for="status_{{$index}}" class="filterCheckBox-label pull-left compLeftAdj">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color membersFiltersChecks"></span>
                                            </label>
                                            <label for="status_{{$index}}">
                                                <span class="floLeft font_14_300 sp-spectrum-color right-adjust" data-ng-bind="::manageFilter.name"></span>
                                            </label>
                                        </div>
									</div>
									<div class='header-related-content' id="statusManager" data-ng-if="ctrl.showManagerRating">
                                        <p class="filter-status-label" data-ng-bind="::pullInterNationalization('competency.admin.manager')"></p>
                                        <div class="tick-selection" repeat-done="ctrl.calculateHeight('status')" data-ng-repeat="manageFilter in recordField = (ctrl.filterOptions.managerEvaluationStatus)">
                                            <input type="checkbox" data-ng-checked="ctrl.pageVariables.evaluationStatusSelected.indexOf(manageFilter)!==-1" class="filterCheckBox statusCheckBox" id="status_manager{{$index}}" data-ng-click="ctrl.includeCheck(manageFilter,'evaluationStatusSelected',false)">
                                            <label for="status_manager{{$index}}" class="filterCheckBox-label pull-left compLeftAdj">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color membersFiltersChecks"></span>
                                            </label>
                                            <label for="status_manager{{$index}}">
                                                <span class="floLeft font_14_300 sp-spectrum-color right-adjust" data-ng-bind="::manageFilter.name"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <!-- Status Filter Ends  -->
                                
                                
                                <!-- Groups Filter Starts  -->
                                <li>
                                    <input type="checkbox" class="accordian-checkbox" checked data-ng-click="ctrl.closeRest($event)" />
                                    <span class="clearButon sp-spectrum-color" data-ng-if="ctrl.pageVariables.userGroupSelected.length" data-ng-click="ctrl.clear('.groupCheckBox','userGroupSelected','searchGroupsFilters')" data-ng-bind="::pullInterNationalization('manageAccountContent.clear')"></span>
                                    <span class='expand-collapse'></span>
                                    <h3 data-ng-bind="::pullInterNationalization('manageAccountContent.groups')"></h3>
                                    <div class='header-related-content' id="group">
                                        <div class="controlwrap sp-search-button">
                                            <input type="text" class="form-control" maxlength="28" data-ng-model="ctrl.pageVariables.searchGroupsFilters" placeholder="{{::pullInterNationalization('spectrum.search.group')}}" data-ng-model-options="{ debounce: { 'default': 100, 'blur': 0 } }">
                                            <button ng-class="{'icon-icon_remove':ctrl.pageVariables.searchGroupsFilters.length, 'icon-icon_search': !ctrl.pageVariables.searchGroupsFilters.length}" class="sp-icon-color" data-ng-click="ctrl.pageVariables.searchGroupsFilters=''"></button>
                                        </div>
                                        <div class="tick-selection" repeat-done="ctrl.calculateHeight('group')" data-ng-repeat="manageFilter in recordField = (ctrl.filterOptions.allGroupsFilter | filter:ctrl.pageVariables.searchGroupsFilters)">
                                            <input type="checkbox" data-ng-checked="ctrl.pageVariables.userGroupSelected.indexOf(manageFilter)!==-1" class="filterCheckBox groupCheckBox" id="group_{{$index}}" data-ng-click="ctrl.includeCheck(manageFilter,'userGroupSelected',false)">
                                            <label for="group_{{$index}}" class="filterCheckBox-label pull-left compLeftAdj">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color membersFiltersChecks"></span>
                                            </label>
                                            <label for="group_{{$index}}">
                                                <span class="floLeft font_14_300 sp-spectrum-color right-adjust" data-ng-bind="::manageFilter.name"></span>
                                            </label>
                                        </div>
                                        <p data-ng-if="!recordField.length" class="generic-no-matches" data-ng-bind="::pullInterNationalization('manageAccountContent.noMatchesFound')"></p>
                                    </div>
                                </li>
                                <!-- Groups Filter Ends  -->
                                
                                 <!-- Manager Filter Starts  -->
                                <li data-ng-if="ctrl.showManagerRating && ctrl.filterOptions.managersList.length">
                                    <input type="checkbox" class="accordian-checkbox" checked data-ng-click="ctrl.closeRest($event)" />
                                    <span class="clearButon sp-spectrum-color" data-ng-if="ctrl.pageVariables.selectedManagers.length" data-ng-click="ctrl.clear('.managerCheckBox','selectedManagers','searchManagersFilters')" data-ng-bind="::pullInterNationalization('manageAccountContent.clear')"></span>
                                    <span class='expand-collapse'></span>
                                    <h3 data-ng-bind="::pullInterNationalization('competency.admin.manager.title')"></h3>
                                    <div class='header-related-content' id="manager">
                                        <div class="controlwrap sp-search-button">
                                            <input type="text" class="form-control" maxlength="28" data-ng-model="ctrl.pageVariables.searchManagersFilters" placeholder="{{::pullInterNationalization('competency.admin.manager.title')}}" data-ng-model-options="{ debounce: { 'default': 100, 'blur': 0 } }">
                                            <button ng-class="{'icon-icon_remove':ctrl.pageVariables.searchManagersFilters.length, 'icon-icon_search': !ctrl.pageVariables.searchManagersFilters.length}" class="sp-icon-color" data-ng-click="ctrl.pageVariables.searchManagersFilters=''"></button>
                                        </div>
                                        <div class="tick-selection" repeat-done="ctrl.calculateHeight('manager')" data-ng-repeat="manageFilter in recordField = (ctrl.filterOptions.managersList | filter:ctrl.pageVariables.searchManagersFilters)">
                                            <input type="checkbox" data-ng-checked="ctrl.pageVariables.selectedManagers.indexOf(manageFilter)!==-1" class="filterCheckBox managerCheckBox" id="manager_{{$index}}" data-ng-click="ctrl.includeCheck(manageFilter,'selectedManagers',false)">
                                            <label for="manager_{{$index}}" class="filterCheckBox-label pull-left compLeftAdj">
                                                <span class="checkedTick icon-icon_dev_strategy_check sp-icon-color membersFiltersChecks"></span>
                                            </label>
                                            <label for="manager_{{$index}}">
                                                <span class="floLeft font_14_300 sp-spectrum-color right-adjust" data-ng-bind="::manageFilter.name"></span>
                                            </label>
                                        </div>
                                        <p data-ng-if="!recordField.length" class="generic-no-matches" data-ng-bind="::pullInterNationalization('manageAccountContent.noMatchesFound')"></p>
                                    </div>
                                </li>
                                <!-- Manager Filter Ends  -->
                                
                                
                                
                            </ul>
                        </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Competency Listing Left Ends -->
            
            
            
            <!-- Competency Listing Right Starts -->
            <div class="lnd-right-sec sp-panel-accent">
                <!-- Competency Manager Detail Listing HTML -->
	             <ng-include src="'/sp/resources/html/admin/competency/competency-detail-listing.html'" data-ng-if="ctrl.competencyListingView"></ng-include>

			    <!-- Competency Manager View By Competency Profiles HTML -->
			    <ng-include src="'/sp/resources/html/admin/competency/competency-view-by-competencyProfile.html'" data-ng-if="ctrl.viewByCompetencyView"></ng-include>
			
			    <!-- Competency Manager View By Members HTML -->
			    <ng-include src="'/sp/resources/html/admin/competency/competency-view-by-members.html'" data-ng-if="ctrl.viewByMembersView"></ng-include>  
			 </div>
            <!-- Competency Listing Right Ends -->
            
            
            
        </div>
    </div>
</div>
<!-- Competency Listing Ends -->
