

    <div class="container minimumHeight" id="addMemberScreen">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
<div>
    	<section class="wrapper">
	<div class="contentBody">
		<div class="head">
			<div class="wrap">
				<div class="headerBar" data-ng-bind="::pullInterNationalization('pulse.startNewPulse.heading')"></div>
				<div class="ngdialog-close closeIcon icon-icon_remove sp-icon-color"></div>
			</div>
		</div>
		<div class="contentArea clearfix">
			<form name="startpulse">
			<div class="growthAssessment noborder">
				<div class="description" data-ng-bind="::pullInterNationalization('pulse.startNewPulse.desc')"></div>
					  <div class="form-group clearfix calStyle">
					     <div class="form-group col-md-5 col-sm-6">
					      <label class="startDate" data-ng-bind="::pullInterNationalization('pulse.startNewPulse.startdate')"></label>
					      <span class="posRelative">
					      <input type="text" class="form-control stInput" name="startDate" ng-model="fromDate" data-date-format="MM/dd/yyyy" data-autoclose="1"  data-max-date="today" disabled bs-datepicker required>
					       <span class="calImg icon-icon_calendar sp-icon-color"></span>
					       </span>
						   <span class="err-msg blockGroup"	ng-show="inviteError && startpulse.startDate.$error.required"><span
									class="icon">!</span> {{::pullInterNationalization('required.error')}}</span>
					    </div>
					    <div class="form-group col-md-5 col-sm-6">
					      <label class="endDate" data-ng-bind="::pullInterNationalization('pulse.startNewPulse.endDate')"></label>
					      <span class="posRelative">
					      <input type="text" class="form-control endInput" data-date-format="MM/dd/yyyy" id="endDateId" name="endDate" ng-model="untilDate"  data-autoclose="1"  data-min-date="{{fromDate}}" data-max-date="{{maxDate}}" bs-datepicker required>
					       <label for="endDateId" class="calImg icon-icon_calendar sp-icon-color"></label>
					       </span>
							<span class="err-msg blockGroup" ng-show="inviteError && startpulse.endDate.$error.required"><span
					class="icon">!</span> {{::pullInterNationalization('required.error')}}</span>
					    </div>
					  </div>
	 		</div>
			<div class="sp-btn-wrapper sp-red btn-esmall floatLeft inviteBtn">
				<div class="sp-btn">
					<input type="button" value="{{::pullInterNationalization('pulse.startNewPulse.submit')}}" class="btnStyle1" ng-click="startPulseFormSubmit(startpulse)">
				</div>
			</div>
			<div class="sp-btn-wrapper sp-grey btn-esmall floatLeft spacing">
				<div class="sp-btn">
					<input type="button" value="{{::pullInterNationalization('pulse.startNewPulse.cancel')}}" class="btnStyle1" ng-click="closeThisDialog()">
				</div>
			</div>
			</form>
			
		 	</div>
	</div>

	</section>
</div></div>
</div></div>

